//
// Modules -> Forms
// --------------------------------------------------


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($base-font-size * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  display: block;
  max-width: 100%;
  margin: 5px 0;
  color: #8493a8;
}

input[type="search"] {
  @include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}


// Common form controls
input:not([type="file"]),
.control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  color: $base-color-dark;
  background-image: none;
  background-color: white;
  border: 1px solid $input-border;
  border-radius: 3px;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  &:hover {
    border-color: $base-color-main;
  }

  @include form-control-focus;

  &::-moz-placeholder { font-weight: 400; color: $base-color-dark; opacity: 1; font-family: 'Montserrat' }
  &:-ms-input-placeholder { font-weight: 400; color: $base-color-dark; font-family: 'Montserrat' }
  &::-webkit-input-placeholder  { font-weight: 400; color: $base-color-dark; font-family: 'Montserrat' }

  &-result {
    position: absolute;
    top: 12px;
    right: 11px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
  }
  &-body {
    position: relative;
    &.success {
      .control-result {
        background: url("../images/icons/checked.svg") no-repeat center, $color-type-4b;
      }
    }
    &.error {
      .control-result {
        background: url('../images/icons/decline.svg') center center no-repeat, $color-type-2a;
      }
    }
  }
}

// Reset height for `textarea`s
textarea.control {
  height: auto;
  resize: none;
}

select.control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  //background: url("../images/icons/arrow-down.png") no-repeat center right 10px, $input-bg;
  &:focus {
    //background: url("../images/icons/arrow-up.png") no-repeat center right 10px, $input-bg;
  }
}

// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}


.form__group {
  margin-bottom: $form-group-margin-bottom;
}


// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;

  label {
    padding-left: 35px;
    margin: 0;
    cursor: pointer;
    line-height: 158%;
    font-size: 13px;
    color: $base-color-dark;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid rgba($base-color-main, 0.17);
      background-color: $input-bg;
    }
  }
}

.success {
  .checkbox input[type="checkbox"]:checked + label:after {
    background: url('../images/icons/checked.svg') center center no-repeat, #6CEB8F;
    border-color: #59CA86;
  }
  .radio input[type="radio"]:checked + label:after {
    background: url('../images/icons/checked.svg') center center no-repeat, #6CEB8F;
    box-shadow: none;
    border-color: #59CA86;
  }
  .checkbox, .radio {
    label {
      color: $color-type-4a;
    }
  }

  &-text {
    margin-left: 20px;
    color: $color-type-4a;

    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: $screen-md-min) {
      display: inline;
    }
  }
}

.error {
  .checkbox input[type="checkbox"]:checked + label:after {
    background: url('../images/icons/decline.svg') center center no-repeat, $color-type-2a;
    border-color: #C35058;
  }
  .radio input[type="radio"]:checked + label:after {
    background: url('../images/icons/decline.svg') center center no-repeat, $color-type-2a;
    box-shadow: none;
    border-color: #C35058;
  }
  .checkbox, .radio {
    label {
      color: $color-type-2a;
    }
  }

  &-text {
    margin-left: 20px;
    color: $color-type-2a !important;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: $screen-md-min) {
      display: inline-block;
    }

    img + span,
    span + img {
      margin-left: 7px;
      vertical-align: middle;
    }
  }
}



.checkbox {
  input[type="checkbox"] {display: none;}
}
.radio {
  input[type="radio"] {display: none;}
}
.checkbox label{
  &:after {
    @include border-radius(2px);
  }
}
.radio label {
  &:after {
    @include border-radius(50%);
  }
}

.checkbox input[type="checkbox"]:checked + label:after {
  background: url('../images/icons/checkbox.svg') center center no-repeat, $input-bg;
}
.radio input[type="radio"]:checked + label:after {
  background-color: $base-color-main;
  box-shadow: inset 0 0 0 5px $input-bg;
}

.input-file {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  input {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    top: -24px;
    height: auto !important;
    cursor: pointer;
  }
  + span {
    margin-left: 20px;
  }
}
