#calendar {
  position: relative;
  width: calc(100% - 50px);
  margin: auto;
}
.calendar {
  position: relative;
  &-helper {
    position: absolute;
    right: 25px;
    left: 25px;
    z-index: 10;

    img + span {
      margin-left: 15px;
      @media screen and (min-width: $screen-xl-min) {
        margin-left: 25px;
      }
    }
    span + img {
      margin-left: 15px;
      @media screen and (min-width: $screen-xl-min) {
        margin-left: 25px;
      }
    }
  }
  &-links {
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: 100%;
      color: #B3C2D5;
      padding: 15px 0;
      border-bottom: 4px solid rgba($base-color-main, 0.13);
      text-decoration: none;
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% / 3);
      }
      &.active {
        color: $base-color-dark;
        border-color: $base-color-main;
      }
    }
  }
}


.fc {
  &-col {
    &-header {
      border: 1px solid $base-color-main !important;
      &-cell {
        background-color: rgba($base-color-main, .13);
        &-cushion {
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: $base-color-main !important;
          padding: 12px 4px !important;
          p {
            font-size: 15px;
            color: $base-color-dark;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  &-scroller {
    border: 1px solid $base-color-main !important;
  }
  &-daygrid {
    &-event {
      border-radius: 0 !important;
      font-weight: 600;
      font-size: 11px !important;
    }
    &-day-events {
      margin: 15px 10px !important;
    }
    &-block-event {
      .fc-event-title {
        padding: 12px 7px 0 !important;
      }
    }
  }
  &-h {
    &-event {
      border: none !important;
      background-color: $base-color-main;
    }
  }
  &-icon {}
  &-event {
    &-title {
      padding: 12px 12px 0 !important;
      div {
        font-size: 10px;
        color: $base-color-dark;
        background-color: $gray;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: 12px;
        padding: 12px;
      }
    }
  }
  &-theme-standard {
    .fc-scrollgrid {
      border: none !important;
    }
    th, td {
      border: none !important;
      border-left: 1px solid rgba($base-color-main, .3) !important;
    }
    .fc-list {
      border: none !important;
    }
    th {
      border-top: 1px solid transparent !important;
      border-bottom: 1px solid transparent !important;
    }
    .fc-list {
      &-event {
        &-title {
          border-left: none !important;
          padding: 20px 0;
          a {
            font-size: 11px;
            padding: 10px 13px;
            color: white !important;
            display: block;
            background-color: $base-color-main;
            width: 100%;
            max-width: 400px;
          }
          div {
            font-weight: 600;
            font-size: 10px;
            padding: 10px 13px;
            display: block;
            color: $base-color-dark;
            background-color: $gray;
            width: 100%;
            max-width: 400px;
          }
        }
        &-graphic {
          display: none;
        }
        &-time {
          font-size: 13px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: $gray-darken;
        }

        &:hover td {
          background-color: transparent !important;
        }
      }
    }
    .fc-list-day-cushion {
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      border-bottom: 2px solid $base-color-main !important;
      background-color: rgba($base-color-main, .15) !important;
      display: flex;
      align-items: center;
      text-align: left;

      .fc-list-day-text {
        float: none;
        color: $base-color-dark;
        width: 110px;
      }
      .fc-list-day-side-text {
        float: none;
        color: $base-color-main;
      }
    }
  }
  &-buttons {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #B3C2D4;
    @media screen and (min-width: $screen-xl-min) {
      font-size: 17px;
    }
    span {
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: inline-block;
      }
    }
    img {
      cursor: pointer;
      &:hover {
        opacity: .9;
      }
    }
  }
  &-button {
    font-weight: 700 !important;
    font-size: 15px !important;
    letter-spacing: 0.03em;
    text-transform: uppercase !important;
    color: $base-color-main !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    @media screen and (min-width: $screen-xl-min) {
      font-size: 17px !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
  &-toolbar {
    justify-content: center !important;
    &-chunk {
      &:first-child,
      &:last-child {
        position: absolute;
        z-index: 9;
        top: 60px;
      }
      &:first-child {
        left: -30px;
      }
      &:last-child {
        right: -30px;
      }
    }
    &-title {
      font-weight: 700;
      font-size: 17px !important;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $base-color-dark;
      position: relative;
      margin-left: 15px !important;

      top: -30px;
      @media screen and (min-width: $screen-md-min) {
        top: 0;
      }
      &:after {
        content: '';
        background-color: white;
        position: absolute;
        z-index: 9;
        right: 0;
        top: 0;
        bottom: 0;
        width: 15px;
      }
    }
  }
  &-daygrid-event {
    white-space: normal !important;
  }
}

.fc-icon-chevron-right:before {
  font-family: 'icomoon' !important;
  content: "\e90b" !important;
}
.fc-icon-chevron-left:before {
  font-family: 'icomoon' !important;
  content: "\e90c" !important;
}

.calendar--main {
  padding-top: 50px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 10px;
  }
  @media screen and (min-width: $screen-xl-min) {
    .fc-theme-standard th,
    .fc-theme-standard td {
      border-left: none !important;
    }
  }
  .fc-direction-ltr .fc-timegrid-slot-label-frame {
    text-align: left;
  }
  .fc .fc-timegrid-slot-label-cushion {
    padding-left: 0;
  }
  .fc-daygrid-body {
    .fc-event-title {
      display: flex;
      align-items: center;
      .calendar-up {
        padding: 3px 5px;
        display: flex;
        align-items: center;

        > * {
          margin: 0;
          margin-right: 10px;
        }
      }
      .calendar-dates {
        padding: 4px 5px;
      }
    }
    .fc-event-title-container {
      //height: 30px;
    }
  }
  @media screen and (max-width: $screen-lg-max) {
    .fc .fc-view-harness {
      border: 1px solid $base-color-main;
    }
  }

  #calendar {
    @media screen and (min-width: $screen-xl-min) {
      .fc-col-header-cell {
        border-top: 1px solid $base-color-main !important;
        border-bottom: 2px solid $base-color-main !important;

        &:nth-child(2) {
          border-left: 1px solid $base-color-main !important;
        }

        .fc-scrollgrid-sync-inner {
          border-left: 1px solid rgba($base-color-main, .3) !important;
        }
      }
      .fc-timegrid-col:not(:first-child) .fc-timegrid-col-frame {
        border-bottom: 2px solid $base-color-main !important;
        border-left: 1px solid rgba($base-color-main, .3) !important;
      }
      .fc-timegrid-col:nth-child(2) .fc-timegrid-col-frame {
        border-left: 1px solid $base-color-main !important;
      }
      .fc-col-header-cell:last-child .fc-scrollgrid-sync-inner {
        border-right: 1px solid $base-color-main !important;
      }
      .fc-timegrid-col:last-child .fc-timegrid-col-frame {
        border-right: 2px solid $base-color-main !important;
      }
    }
    .fc .fc-scrollgrid-section > td:first-child,
    .fc .fc-scrollgrid-section-liquid > td:first-child,
    .fc-timegrid-axis,
    .fc-scroller {
      @media screen and (min-width: $screen-xl-min) {
        border-left: 1px solid white !important;
      }
    }
  }
  .fc-timegrid-axis {
    @media screen and (min-width: $screen-xl-min) {
      border-top: 1px solid white !important;
      border-bottom: 1px solid white !important;
    }
  }
  .fc .fc-col-header-cell-cushion {
    font-size: 0;
    .days {
      font-size: 13px;
    }
  }
  .fc .fc-col-header-cell.fc-day-today {
    background-color: #BDE5F6;
    .fc-col-header-cell-cushion p {
      color: $base-color-main;
    }
  }
  .fc .fc-timegrid-col.fc-day-today {
    background-color: white !important;
  }
  .fc-scroller {
    border: none !important;
  }
  .fc-list-event {
    border-bottom: 2px solid $base-color-main;
  }
  .fc-event-title-container {
    background-color: $gray;
  }
  .fc-timegrid-event .fc-event-main {
    padding: 0;
  }
  .fc-direction-ltr .fc-timegrid-col-events {
    margin: 0;
  }
  .fc-event-time {
    display: none !important;
  }
  .fc-timegrid-event {
    border: 0;
    background-color: transparent;
  }
  .fc .fc-timegrid-slot-label-cushion {
    color: $gray-darken;
    font-size: 15px;
  }
  .fc-list-event-title,
  .fc-event-title {
    padding: 0 !important;
    overflow-y: auto !important;
    div {
      font-size: 10px;
      color: $base-color-dark;
      background-color: transparent;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding: 0;
    }
    .calendar {
      &-up {
        padding: 14px;
        color: white;
        font-size: 11px;
        background-color: $base-color-main;
        > div {
          color: white;
        }
      }
      &-down {
        background-color: $gray;
      }
      &-ico {
        margin-bottom: 10px;
      }
      &-dates {
        font-weight: 600;
        padding: 14px;
        color: $base-color-dark;
      }
      &-description {
        padding: 0 14px 14px;
        color: $gray-darken;
      }
    }
  }
  .fc-toolbar-chunk {
    @media screen and (max-width: $screen-lg-max) {
      &:last-child,
      &:first-child {
        display: none;
      }
    }
  }
  #calendar {
    @media screen and (max-width: $screen-lg-max) {
      width: 100%;
    }
  }
  .fc-list-event-title {
    padding: 15px 0 !important;
    .calendar {
      &-up {
        @media screen and (min-width: $screen-md-min) {
          display: flex;
          align-items: center;
        }
      }
      &-ico {
        @media screen and (min-width: $screen-md-min) {
          margin-right: 10px;
          margin-bottom: 0;
          width: 40px;
        }
      }
    }
  }
  .calendar-helper {
    right: 0;
    left: 0;
    @media screen and (min-width: $screen-lg-min) {
      right: 25px;
      left: 70px;
    }
  }
  .fc-toolbar-chunk:first-child {
    left: 19px;
  }

  .btn--inline {
    @media screen and (min-width: $screen-xl-min) {
      margin-left: 60px;
    }
    .btn {
      margin-top: 20px;
      @media screen and (min-width: $screen-md-min) {
        margin-right: 30px;
      }
    }
  }
}

.calendar-arr {
  width: calc(100% - 40px);
  position: relative;
  left: 44px;
  top: 83px;
  z-index: 9;
  cursor: pointer;
  font-size: 1.5em;
  color: $base-color-main;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
