.advertisement {
  margin-top: 50px;
  max-width: 710px;
  &-el {
    background: $gray;
    padding: 15px 17px 20px;
    margin-bottom: 22px;
    &__date {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.03em;
      color: $gray-darken;
    }
    &__title {
      h3 {
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
    &__desc {
      position: relative;
      overflow: hidden;
      max-height: 70px;
      transition: max-height .5s;
      &:after {
        content: '';
        background: -moz-linear-gradient(top, rgba($gray, 0) 0%, $gray 70%, $gray 100%);
        background: -webkit-linear-gradient(top, rgba($gray, 0) 0%, $gray 70%, $gray 100%);
        background: linear-gradient(to bottom, rgba($gray, 0) 0%, $gray 70%, $gray 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 110%;
        z-index: 0;
      }
      &.shown {
        max-height: 1000px;
        &:after {
          display: none;
        }

        .showmore {
          display: none;
        }
      }
      .showmore {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.03em;
        color: $base-color-main;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 99;
        text-decoration: none;
        img {
          margin-left: 6px;
        }
      }
    }
  }
}
