.contents {
  @media screen and (min-width: $screen-md-min) {
    width: 430px;
  }
  .accordion {
    &-el {
      margin-bottom: 7px;
      &:before {
        content: '';
        margin: 0;
      }
    }
    &-link {
      background: $gray;
      font-weight: 700;
      padding: 10px 10px 10px 40px;
      a {
        text-decoration: none;
        color: $base-color-main;
      }
    }
    &-header {
      border: none;
      background: $gray;
      font-weight: 700;
      font-size: 14px;
      color: $base-color-main;
      text-transform: initial;
      padding: 10px 10px 10px 40px;
      position: relative;
      &:before {
        content: '';
        height: 11px;
        width: 11px;
        display: block;
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url("../images/icons/plus.svg") no-repeat center / 100%;
      }
      &.active {
        &:before {
          background: url("../images/icons/minus.svg") no-repeat center / 100%;
        }
      }
    }
    &-body {
      padding: 20px 20px 5px 40px;
      @media screen and (min-width: $screen-md-min) {
        padding-left: 62px;
      }
      a {
        font-weight: 700;
        margin-bottom: 10px;
        text-decoration: none;
        color: $base-color-main;
        display: inline-block;
      }
      ol {
        list-style: none;
        li {
          &:before {
            content: '';
            margin: 0;
          }
        }
      }
    }
  }
}
