.page-course {
  padding-bottom: 30px;
  @media screen and (min-width: $screen-lg-min) {
    padding-bottom: 90px;
  }
  h2 {
    margin-bottom: 50px;
  }
  h4 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 30px;
  }

  .course-text {
    line-height: 1.6;
  }
}

.video {
  width: 100%;
  height: 100%;

  &-container {

  }
}
.video-course {
  position: relative;
  width: 100%;
  padding-top: 10px;
  @media screen and (min-width: $screen-lg-min) {
    //height: 520px;
    padding-top: 44.8%;
    display: flex;
  }

  .gallery-top {
    left: 0;
    @media screen and (min-width: $screen-lg-min) {
      width: calc(100% - 240px);
    }
  }

  .gallery-thumbs {
    right: 0;
    margin-top: 10px;
    @media screen and (min-width: $screen-lg-min) {
      margin-top: 0;
    }
  }

  > * {
    @media screen and (min-width: $screen-lg-min) {
      margin: 0;
      position: absolute !important;
      top: 0;
      bottom: 0;
    }
  }
}


.workBadge {
  background-color: $gray;
  padding: 25px 20px;
  display: flex;
  margin-bottom: 50px;
  position: relative;
  .btn {
    margin-top: 10px;
    margin-right: 15px;

    @media screen and (min-width: $screen-md-min) {
      margin-top: 0;
    }
  }
  &-left {
    width: 66px;
  }
  &-right {
    width: calc(100% - 66px);

    p {
      margin-bottom: 0;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 16px;
    color: $base-color-dark;
    text-transform: uppercase;
  }
  &-deadline {
    color: $base-color-main;
    margin-bottom: 5px;
  }

  &--short {
    .col {
      width: 100%;
    }

    .workBadge-deadline {
      margin-top: 15px;
    }

    .btn {
      margin-top: 20px;
    }
  }

  &--long {
    .col__xl-8 {
      @media screen and (min-width: $screen-md-min) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .col__xl-6,
    .btn--inline {
      margin-left: -55px;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 0;
      }
    }
  }
}

.titleIcons {
  display: flex;
  &--left {
    width: 86px;
  }
  &--right {
    width: calc(100% - 86px);
  }

  + .titleIcons {
    margin-top: 40px;
  }
}

.thumbs {
  &-item {
    color: $base-color-dark;
    min-width: 170px;
    margin-right: 15px;
    margin-left: auto;
    transition: width .5s;
    position: relative;
    @media screen and (min-width: $screen-lg-min) {
      width: 100%;
      min-width: inherit;
      margin-right: 0;
    }
    &__video {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-self: center;
        z-index: 9;
        background: url("../images/badge/play.svg") no-repeat center;
      }
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
      //height: 40px;
    }

    &--finished {
      .thumbs-item__video:after {
        background: url("../images/badge/finish.svg") no-repeat center, rgba(#82A9D2, .79);
      }
    }
    &--ongoing {
      min-width: 140px;
      @media screen and (min-width: $screen-lg-min) {
        width: 85%;
      }
      span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 6px;
        width: 100%;
        background-color: $base-color-dark;
        span {
          height: 100%;
          background-color: $base-color-main;
        }
      }
    }
  }
}

.webinar {
  position: relative;
  height: 100%;
  padding-top: 44.8%;
  @media screen and (min-width: $screen-lg-min) {
    padding-top: 0;
  }

  .video-js {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @media screen and (min-width: $screen-lg-min) {
      position: static;
    }
  }

  video {
    object-fit: cover;
  }

  &-play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 9;
  }
}

.slider-arrows {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $screen-lg-min) {
    width: calc(100% - 240px);
  }

  > * {
    cursor: pointer;

    &[aria-disabled="true"] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

}
