.dash {
  padding: 50px 0 90px;
  &-subtitle {
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $base-color-dark;
    margin-bottom: 20px;
    margin-top: 0;
    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 0;
    }
  }

  .btn {
    padding: 9px 10px;
    @media screen and (min-width: $screen-md-min) {
      padding: 9px 25px;
    }
  }

  p.text--gray {
    margin-bottom: 30px;
  }

  &-header {
    margin-top: 20px;
    margin-bottom: 30px;
    .btn {
      margin-bottom: 40px;
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 0;
      }
    }
  }

  .typicalSlider {
    .swiper-wrapper {
      justify-content: stretch;
    }
    .swiper-slide {
      height: auto;
    }
  }

  &.background--light {
    padding: 60px 0;
    .dash-subtitle {
      margin-bottom: 40px;
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 0;
      }
    }
  }
}

.dashBlock {
  padding: 25px;
  border-radius: 3px;
  background-color: white;
  @media screen and (min-width: $screen-md-min) {
    padding: 30px;
  }
}

.doubleTitle {
  display: flex;
  &-ico {
    min-width: 42px;
    margin-right: 10px;
  }

  &-name {
    h2 {
      margin: 0;
      font-weight: 700;
      color: $base-color-dark;
    }
    h4 {
      font-size: 17px;
      font-weight: 700;
      color: $base-color-dark;
      margin-top: 0;
      margin-bottom: 10px;
    }
    p {
      font-weight: 600;
      i {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}

.newsEl {
  display: flex;
  flex-direction: column;
  height: 100%;
  a {
    text-decoration: none;
  }
  &__img {
    margin-bottom: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    color: $base-color-dark;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba($base-color-main, .5);
    padding-top: 5px;
    margin-top: auto;
    &-el {
      font-size: 13px;
      color: $base-color-main;
      &.tag {
        background: rgba($base-color-main, 0.1);
        border-radius: 26px;
        padding: 8px 10px;
      }
    }
  }
}

.progressBar {
  margin-top: 30px;
  &-el {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    &__name {
      color: $base-color-dark;
      margin-right: 15px;
      min-width: 80px;
    }
    &__bar {
      margin-right: 10px;
      width: 100%;
      height: 4px;
      background: rgba($base-color-main, 0.28);
      position: relative;
      span {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 9;
        background: $base-color-main;
      }
    }
    &__time {
      min-width: 80px;
      font-weight: 700;
      color: $base-color-main;
    }
  }
}

.dashCard {
  background: $gray;
  border-radius: 3px;
  padding: 15px 20px;
  height: 100%;
  display: block;
  text-decoration: none;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__date {
      color: $base-color-dark;
    }
    &__time {
      color: $base-color-main;
    }
  }
  &-title {
    margin-top: 25px;
    display: flex;
    font-weight: 700;
    font-size: 17px;
    color: $base-color-dark;
    img {
      margin-right: 15px;
      margin-top: -5px;
    }
  }
}

.dash-IP {
  &.swiper-wrapper {
    align-items: stretch;
  }
  .swiper-slide {
    height: 160px;
    @media screen and (min-width: $screen-md-min) {
      height: auto;
    }
  }
}

[data-tab-column='3'] {
  .swiper-wrapper {
    height: calc(170px * 3);
    @media screen and (min-width: $screen-md-min) {
      height: auto;
    }
  }
}

.dashProgressBar {
  background-color: white;
  padding: 20px;
  @media screen and (min-width: $screen-md-min) {
    padding: 30px;
  }
  &-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .doubleTitle {
      width: 100%;
      margin-bottom: 30px;
      @media screen and (min-width: $screen-md-min) {
        margin-right: 30px;
      }
      @media screen and (min-width: $screen-lg-min) {
        flex: 4;
        width: auto;
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-right: 70px;
      }
    }
    .pageHeader-progress {
      color: $base-color-main;
      display: block;
      max-width: inherit;
      margin-bottom: 10px;
      margin-right: 20px;
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        flex: 3;
        width: auto;
      }
      &__line {
        font-weight: 700;
        width: auto;
        &-range {
          background-color: $gray;
          span {
            background-color: $base-color-main;
          }
        }
      }
      &__job {
        margin-top: 15px;
      }
    }
  }
  .estimates {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      align-self: flex-start;
      flex: 2;
      width: auto;
    }
    &__el {
      color: $base-color-dark;
      span:last-child {
        margin-left: 10px;
      }
    }
  }
  &-bottom {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    margin: 15px -2px 0;
    @media screen and (min-width: $screen-lg-min) {
      justify-content: space-between;
    }
    > * {
      width: 100%;
      color: $base-color-dark;
      background-color: $gray;
      border: none;
      position: relative;
      margin: 2px;
      min-width: inherit;
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% / 3 - 6px);
      }
      @media screen and (min-width: $screen-lg-min) {
        flex: 1;
        width: auto;
        margin: 0px 2px;
      }
      span {
        width: 22px;
        height: 24px;
        color: white;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $base-color-main;
        border-radius: 6px;
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
