.iframe {
  height: 560px;
  width: 100%;
}


.forum {
  margin-top: 50px;

  a {
    text-decoration: none;
  }

  .flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media screen and (min-width: $screen-md-min) {
      width: auto;
    }
  }

  &-title {
    @media screen and (min-width: $screen-md-min) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h2 {
      margin: 10px auto;
      @media screen and (min-width: $screen-md-min) {
        margin: 0 auto;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: $base-color-main;
      }

      .icon-chevron-prev {
        margin-right: 15px;
      }

      .icon-chevron-next {
        margin-left: 15px;
      }
    }
  }

  &-theme {
    margin-bottom: 30px;
  }

  &-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .linkInline i {
      margin-left: 0;
    }

    a {
      transition: color 0.5s;
      text-decoration: none;
      &:hover {
        color: $base-color-main;
      }
    }

    i {
      font-size: 22px;
      width: 30px;
      margin-left: 10px;

      &.icon-cancel {
        font-size: 30px;
      }
    }
  }

  &-body {
    background: $gray;
    padding: 20px;
    margin-bottom: 30px;
  }

  &-accordion-icon {
    position: absolute;
    top: 10px;
    right: 10px;

    i {
      display: inline-block;
      transform: rotate(180deg);
    }
  }

  &-el {
    position: relative;
    background: $gray;
    padding: 20px;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    border-radius: 20px 0 20px 20px;

    .forum-icons {
      position: absolute;
      right: 5px;
      top: 5px;

      a {
        cursor: pointer;
      }
    }

    &--inner {
      position: relative;
      background: white;
      padding: 20px;
      margin-top: 20px;
      border-radius: 20px 0 20px 20px;
    }

    &--edit {
      color: $gray-darken-2;

      .forum-el__title h4 {
        color: $gray-darken-2;
      }

      .forum-el__author {
        margin-bottom: 10px;
        @media screen and (min-width: $screen-md-min) {
          margin-left: 60px;
          margin-bottom: 0;
        }
      }
    }

    &:hover {
      .forum-el__title h4 {
        color: $base-color-dark;
      }
    }

    &__download {
      display: flex;
      align-items: center;

      .forum-icons {
        position: static;
        @media screen and (min-width: $screen-md-min) {
          margin-left: 30px;
        }
      }
    }

    &__content {
      max-width: 800px;
      margin-top: 20px;
      color: $gray-darken-2;
    }

    &__head {
      @media screen and (min-width: $screen-md-min) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      h5 {
        color: $base-color-main;
        margin-top: 0;
      }
    }

    &__inner {
      color: $gray-darken-2;
      &-item {
        position: relative;
        @media screen and (min-width: $screen-md-min) {
          display: flex;
          justify-content: space-between;
        }
        &:first-child {
          display: block;
          margin-bottom: 10px;
          i {
            margin-right: 10px;
          }
        }
        &:nth-child(2) {
          font-weight: 600;
          margin-bottom: 20px;
          margin-left: 20px;
          @media screen and (min-width: $screen-md-min) {
            margin-left: 80px;
          }
          i {
            position: absolute;
            top: 0;
            left: -20px;
          }
        }
        &:nth-child(3) {
          background: white;
          padding: 10px;
          border-radius: 20px 0 20px 20px;
          margin-bottom: 20px;
          @media screen and (min-width: $screen-md-min) {
            margin-left: 90px;
          }

          p {
            max-width: 800px;
          }
        }
      }
    }

    &__title {
      display: block;
      h4 {
        transition: color .5s;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 20px;
        color: $base-color-main;
      }

      &--blockquote {
        background: $gray;
        max-width: 95%;
        margin-bottom: 20px;
        padding: 10px 30px;
        border-left: 10px solid $gray-darken-2;

        .forum-el__desc {
          justify-content: flex-start;
          margin-bottom: 10px;
        }
      }

      &--classic {
        margin-top: 20px;
        background: $gray;
        padding: 10px 30px;
        border-radius: 20px 0 20px 20px;
        position: relative;
      }
    }
    &__date {
      margin-bottom: 10px;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 20px;
        margin-bottom: 0;
      }
    }
    &__date,
    &__author {
      font-weight: 400;
      color: $gray-darken-2;
      font-size: 12px;
      letter-spacing: 0.03em;
    }
    &__desc {
      font-weight: 400;
      position: relative;
      display: block;
      color: $gray-darken-2;
      font-size: 12px;
      letter-spacing: 0.03em;

      @media screen and (min-width: $screen-md-min) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
