.glossary {
  .pagination--pager {
    @media screen and (min-width: $screen-md-min) {
      padding-top: 12px;
    }
  }
  &-ABS {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    li {
      letter-spacing: 0.165em;
      font-size: 20px;
      margin-right: 10px;
      a {
        text-decoration: none;
        color: $base-color-main;
      }
      &:before {
        content: '';
        margin: 0;
      }
    }
  }
  &-list {
    &__el {
      margin-bottom: 30px;
      display: flex;
      &-stroke {
        font-weight: 700;
        font-size: 25px;
        color: $base-color-dark;
        min-width: 55px;
        margin-top: -5px;
      }
      &-desc {

      }
      &-title {
        font-weight: 700;
        font-size: 17px;
        color: $base-color-dark;
        margin-bottom: 20px;
        text-decoration: none;
        display: block;
      }
    }
  }
  &-input {
    position: relative;
    margin-bottom: 40px;
    input {
      height: 56px;
      background: white;
      border: 1px solid $gray-darken;
      border-radius: 4px;
      font-size: 16px;
      color: $base-color-main;
      padding-left: 55px;
      @include placeholder($base-color-main);
    }
    button {
      background-color: transparent;
      border: 0;
      outline: 0;
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
}
