//
// Pages -> Index
// ------------------------------------

.page-index {

}

.page-forum {
  .content {
    @media screen and (min-width: $screen-lg-min) {
      padding-top: 80px;
    }
  }
}

.page-dash {

}
.page-users {
  .content {
    @media screen and (min-width: $screen-lg-min) {
      padding-bottom: 60px;
    }
  }
}

.page-practice {
  padding-left: 0;

  .container {
    padding-left: 40px;
  }

  .background--light {
    padding-top: 31px;
  }
  .pageHeader .pagination {
    margin-bottom: 16px !important;
  }
}


.background {
  &--light {
    background-color: $gray;

    &--head {
      padding-top: 31px;
      max-height: 113px;
    }
  }
  &--lighter {
    background-color: #E8F6FD;
  }
}

.page-messages {
  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 44px;
  }
}

.subTitle {

  font-weight: 800;
  color: $base-color-dark;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
}

.content {
  padding-bottom: 44px;
  min-height: 33vh;
  padding-top: 20px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 0;
  }
}

