.practiceHead {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 20px;

  .select {
    background: transparent;
    border: none;
    font-weight: 600;
    margin-left: -3px;
  }

  &-el {
    flex-grow: 1;
    font-weight: 600;
    margin-bottom: 20px;
    &--img {
      align-items: center;
      display: flex;
    }
    &:last-child {
      width: 100%;
      @media screen and (min-width: $screen-lg-min) {
        width: auto;
      }
    }
    &:nth-last-child(2) {
      width: 100%;
      order: 1;
      @media screen and (min-width: $screen-md-min) {
        width: auto;
        order: 0;
      }
    }
  }
  &-name {
    color: $gray-darken;
  }
  &-value {
    margin-top: 6px;
    color: $base-color-dark;

    i {
      font-size: 22px;
      margin-right: 15px;
      color: $base-color-main;
      vertical-align: middle;
    }
  }
  &-img {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    margin-right: 15px;
    overflow: hidden;
  }
}

.practiceBody {
  margin-top: 60px;
  .doubleTitle {
    padding-bottom: 25px;
    border-bottom: 3px solid rgba($base-color-main, .13);
    margin-bottom: 30px;
    &-name h4 {
      font-size: 18px;
    }
  }
  .linksInline {
    margin-bottom: 60px;
  }
  .practiceTitle {
    font-weight: 700;
    color: $base-color-main;
    margin-bottom: 10px;
  }
  .practiceDesc {
    line-height: 156%;
    color: $base-color-dark;
    margin-bottom: 30px;
  }
}

.linkInline {
  font-weight: 700;
  color: $base-color-main;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  + .linkInline {
    @media screen and (min-width: $screen-md-min) {
      margin-left: 30px;
    }
  }
  i {
    font-size: 22px;
    margin-right: 10px;
    color: $base-color-main;
    vertical-align: middle;
  }
}

.practiceHelper {
  font-size: 13px;
  line-height: 156%;
  margin-top: 10px;
  color: rgba($base-color-dark, .5);
  @media screen and (min-width: $screen-md-min) {
    display: flex;
    align-items: flex-start;
  }
  @media screen and (min-width: $screen-xl-min) {
    display: block;
  }

  img {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  p {
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.practiceFooter {
  padding: 40px 0;
  @media screen and (min-width: $screen-md-min) {
    padding: 65px 0;
  }
  &-el {
    font-size: 13px;
    color: rgba($base-color-dark, .5);
    & + & {
      border-top: 3px solid rgba($base-color-main, .13);
      padding-top: 35px;
      margin-top: 35px;
      @media screen and (min-width: $screen-md-min) {
        padding-top: 50px;
        margin-top: 60px;
      }
    }
    p {
      margin-bottom: 30px;
    }
    .error-text {
      text-align: left;
    }
  }
  &-slider {
    margin-top: 20px;
    @media screen and (min-width: $screen-lg-min) {
      margin-top: 0;
    }
  }
  &-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $base-color-dark;
    margin-bottom: 10px;
  }
  &-subtitle {
    font-weight: 700;
    text-transform: uppercase;
    color: $base-color-dark;
    margin-bottom: 10px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 0;
    }
  }
}


.versions {
  margin-top: 40px;
  padding: 20px 15px;
  background-color: white;
  &-el {
    color: $base-color-dark;
    display: flex;
    align-items: center;
    & + & {
      margin-top: 13px;
    }
    i {
      font-size: 22px;
      margin-right: 15px;
      color: $base-color-main;
    }
  }
}

.practiceMessages {
  h3 {
    font-weight: 700;
    color: $base-color-dark;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .messages-bottom {
    flex-wrap: wrap;
    @media screen and (min-width: $screen-xl-min) {
      flex-wrap: nowrap;
    }
    input {
      margin-right: 0;
      margin-bottom: 30px;
      @media screen and (min-width: $screen-lg-min) {
        margin-right: 50px;
        margin-bottom: 15px;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-bottom: 0;
      }
    }
    .btn--primary {
      min-width: 240px;
    }
  }


}

.practiceHistory {
  margin-top: 30px;
  &-list {
    max-width: 950px;
  }
  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 184.95%;
    color: #002A5C;
    font-weight: normal;
    margin-bottom: 25px;

    i {
      font-size: 22px;
      color: #009CDC;
      margin-right: 15px;
    }
  }
  &-name {
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 35%;
  }
  &-date {
    width: 220px;
  }
  &-link {
    width: 190px;
    a {
      font-size: 12px;
      color: #009CDC;
    }
  }
  &-result {
    width: 220px;
  }
}
