.progress {
  &-head {
    font-weight: 600;
    font-size: 14px;
    color: $gray-darken;
    padding: 20px 0;
    display: flex;
    &__el {
      width: 120px;
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: block;
      }
      &:first-child {
        flex: 1;
        width: auto;
        display: block;
      }
      &:nth-last-child(2) {
        width: 80px;
      }
      &:last-child {
        width: 100px;
      }
    }
  }
  &-estimate {
    white-space: nowrap;
  }
  &-status {
    position: relative;
    &::before {
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      left: 23px;
      top: 20px;
      z-index: 1;
      background-color: $gray-darken;
    }
    &--finished {
      .progress-title {
        color: $base-color-dark;
      }
      .progress-counter {
        span {
          background-color: white;
          color: $base-color-main;
        }
        &:after {
          background-color: $base-color-main;
        }
      }
      .progress-line {
        span {
          background-color: $base-color-main;
        }
      }
      &::before {
        background-color: $base-color-main;
      }
    }
    &--disabled {
      color: $gray-darken;
      .progress-counter {
        span {
          background-color: white;
          color: $gray-darken;
          border-color: $gray-darken;
        }
        &:after {
          background-color: $gray-darken;
        }
      }
      &.progress-body {
        color: $gray-darken;
        i {
          color: $gray-darken;
        }
      }
      .progress-title {
        color: $gray-darken;
        span {
          color: $gray-darken;
        }
      }
      .progress-line {
        span {
          background-color: $gray-darken;
        }
      }
    }
  }
  &-counter {
    width: 70px;
    position: relative;
    padding: 0 !important;
    span {
      font-weight: 700;
      font-size: 26px;
      letter-spacing: 0.03em;
      height: 47px;
      width: 47px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: $base-color-main;
      border: 2px solid $base-color-main;
      position: relative;
      z-index: 9;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $base-color-main;
    padding: 10px 0 25px;
    text-decoration: none;
    @media screen and (min-width: $screen-md-min) {
      padding: 10px 0 40px;
    }
    span {
      color: $base-color-main;
    }
  }
  &-content {
    display: flex;
  }
  &-desc {
    flex: 2;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 10px;
    }
    &__el {
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      margin-bottom: 20px;
    }
  }
  &-line {
    @media screen and (min-width: $screen-md-min) {
      flex: 3 !important;
      margin-left: 25px;
      margin-right: 13px;
      height: 1px;
      background-color: #B3E1F5;
      align-self: flex-end;
      margin-bottom: 6px;
    }
  }
  &-estimate {
    margin-right: 15px;
    @media screen and (min-width: $screen-md-min) {
      width: 120px;
      margin-right: 0;
    }
  }
  &-date {
    margin-right: 15px;
    @media screen and (min-width: $screen-md-min) {
      width: 100px;
      margin-right: 0;
    }
  }
  &-count {
    margin-right: 15px;
    @media screen and (min-width: $screen-md-min) {
      width: 80px;
      margin-right: 0;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    @media screen and (min-width: $screen-md-min) {
      width: auto;
      margin-bottom: 0;
    }
    &.longest {
      width: 100%;
      @media screen and (min-width: $screen-xl-min) {
        width: auto;
      }
    }
  }
  &-body {
    font-weight: 700;
    color: $base-color-dark;
    &__el {
      display: flex;
      width: 100%;

      &:last-child {
        .progress-status {
          &::before {
            display: none;
          }
        }
      }
    }
    i, span {
      vertical-align: middle;
    }
    i {
      font-size: 22px;
      margin-right: 7px;
    }
    .checked {
      width: 22px;
      height: 22px;
      border-radius: 22px;
      display: inline-block;
      margin-right: 20px;
      &--awaiting {
        background: url("../images/icons/awaiting.svg") no-repeat center, $base-color-main;
      }
      &--finished {
        background: url("../images/icons/checked.svg") no-repeat center, $color-type-4b;
      }
    }
  }

  &--sm {
    .progress {
      &-head {
        margin-bottom: 40px;
        &__el {
          &:not(:first-child) {
            width: 150px;
            text-align: center;
          }
        }
      }
      &-counter {
        span {
          i {
            margin-right: 0;
          }
        }
      }
      &-desc {
        display: flex;
        justify-content: space-between;
      }
      &-title {
        flex: 1;
        @media screen and (min-width: $screen-md-min) {
          padding: 14px 0 40px;
        }
      }
      &-estimate {
        width: 150px;
        text-align: center;
      }
      &-state {
        width: 150px;
        text-align: center;
        .checked {
          margin-right: 0;
        }
        .btn {
          min-width: inherit;
          height: 38px;
          padding: 5px;
          width: 100%;
        }
      }
    }
    .progress-body {
      &__el {
      }
    }
  }
}
