.questionnaire {
  justify-content: stretch;
  &__item {
    background: $gray;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    padding: 18px 16px;
    margin-bottom: 26px;
    height: calc(100% - 26px);
    &-ico {
      width: 62px;
    }
    &-desc {
      width: calc(100% - 62px);
      p {
        color: $base-color-main;
      }
    }
    &-title {
      font-size: 20px;
      margin-bottom: 20px;
      b {
        font-weight: 700;
      }
    }
    &-btn {
      margin-top: 30px;
      display: flex;
      align-items: flex-end;
      width: 100%;
      .btn {
        width: 100%;
      }
      .eduProgress-list-checked {
        margin-left: 25px;
        margin-right: 12px;
      }
    }
    &-text {
      font-weight: 600;
      color: $gray-darken;
      a {
        color: $base-color-main;
        text-decoration: underline;
      }
    }
  }
}
