.search {
  .pagination--pager {
    @media screen and (min-width: $screen-md-min) {
      padding-top: 12px;
    }
  }
  .glossary-input {
    max-width: 770px;
  }
  &-value {
    margin-top: -10px;
    margin-bottom: 60px;
  }
  &-list {
    margin-bottom: 70px;
    &__el {
      margin-bottom: 40px;
      text-decoration: none;
      display: block;
      &-title {
        font-weight: 700;
        font-size: 17px;
        margin-bottom: 20px;
        color: $base-color-dark;
      }
      &-desc {
        color: rgba(0, 42, 92, 0.51);
        margin-bottom: 30px;
        b {
          color: $base-color-main;
        }
      }
      &-btn {
        border-bottom: 1px solid $gray;
        position: relative;
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto;
        }
      }
    }
  }
}
