.testBlock {
  padding: 30px 30px 20px;
  background-color: $gray;
  color: $base-color-dark;
  @media screen and (min-width: $screen-md-min) {
    padding: 30px 30px 0;
  }
  &-header {
    margin-bottom: 40px;
  }
  &-name {
    b {
      color: $base-color-main;
    }
  }
  &-body {
    h4 {
      margin-bottom: 30px;
    }
  }
  &-form {
    margin-bottom: 10px;
  }

  .progressBar {
    display: flex;
    justify-content: space-between;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-left: -2px;
      margin-right: -2px;
    }
    span {
      flex-grow: 1;
      margin: 2px;
      height: 5px;
      @media screen and (min-width: $screen-md-min) {
        margin: 1px;
      }
      background: rgba($base-color-main, .13);
      &.active {
        background-color: $base-color-main;
      }
    }
  }

  .form__group {
    margin-bottom: 10px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 30px;
    }
  }

  &-result {
    text-align: center;
    padding: 40px 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 190px 60px 120px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 120px 0;
    }
    h2 {
      font-weight: 600;
      font-size: 30px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 37px;
        font-weight: 700;
      }
    }
    p {
      font-size: 13px;
    }
  }

  &-col,
  .btn {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: auto;
    }
  }
}
