.userFilter {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 2px solid $gray;
  margin-bottom: 40px;
  padding: 25px 20px;
  color: $base-color-dark;
  flex-wrap: wrap;
  @media screen and (min-width: $screen-xl-min) {
    flex-wrap: nowrap;
  }
  &-el {
    &__user {
      display: flex;
      &-img {
        width: 65px;
        min-width: 65px;
        height: 65px;
        border-radius: 65px;
        overflow: hidden;
      }
      &-name {
        margin-left: 20px;
        b {
          display: block;
        }
      }
      &-info {
        p {
          margin-bottom: 5px;
        }
        a {
          display: block;
          text-decoration: none;
          margin-bottom: 5px;
        }
      }
    }
    &__chk {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: 390px;
        margin-bottom: -16px;
      }
      > * {
        flex-grow: 1;
        width: 50%;
        margin-bottom: 16px;
        @media screen and (min-width: $screen-md-min) {
          min-width: 123px;
          width: auto;
        }
      }
      .checkbox {
        input[type="checkbox"]:checked + label:after {
          background: url("../images/icons/checkbox1.svg") no-repeat center, $input-bg;
          border-radius: 3px;
        }
      }
    }
    &__btn {
      @media screen and (min-width: $screen-md-min) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      > * {
        display: block;
        @media screen and (min-width: $screen-md-min) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .btn {
        max-width: 190px;
        margin-top: 20px;
        margin-bottom: 20px;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 0;
          margin-top: 0;
          min-width: inherit;
          max-width: inherit;
        }
      }
    }

    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: auto;
    }
    &:first-child {
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: 45%;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: auto;
      }
    }
    &:nth-child(2) {
      width: 100%;
      margin-bottom: 30px;
      @media screen and (min-width: $screen-md-min) {
        width: 55%;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: auto;
        margin-bottom: 0;
      }
    }
    &:last-child {
      @media screen and (min-width: $screen-xl-min) {
        width: 18%;
      }
    }
  }
}

.userList {
  color: $base-color-dark;
  margin-bottom: 40px;
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $gray;
    margin-bottom: 20px;
    padding: 15px;
    flex-wrap: wrap;
    @media screen and (min-width: $screen-xl-min) {
      flex-wrap: nowrap;
    }
  }
  &-el {
    display: flex;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: auto;
    }
    &:first-child {
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: 43%;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: auto;
      }
    }
    &:nth-child(2) {
      width: 100%;
      margin-left: 58px;
      margin-bottom: 30px;
      @media screen and (min-width: $screen-md-min) {
        width: 55%;
        margin-left: 0;
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: 30%;
      }
    }
    &:nth-child(3) {
      width: 55%;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 59px;
        width: auto;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-left: 0;
      }
    }
    &:nth-child(4) {
      width: 45%;
      @media screen and (min-width: $screen-xl-min) {
        width: auto;
      }
    }
    &:last-child {
      width: 100%;
      margin-top: 10px;
      @media screen and (min-width: $screen-md-min) {
        width: auto;
        margin-top: 0;
      }
      @media screen and (min-width: 1400px) {
        width: 20%;
      }
    }
    &__user {
      display: flex;
      align-items: center;
      &-img {
        text-align: center;
        > img {
          width: 130px;
        }
        .img {
          width: 41px;
          min-width: 41px;
          height: 41px;
          border-radius: 50px;
          overflow: hidden;
        }
        span {
          color: $gray-darken-2;
          padding: 0 5px;
          border-radius: 5px;
          background: #DBE2EA;
          margin: 5px auto;
          display: inline-block;
        }
      }
      &-name {
        margin-left: 17px;
        p {
          @media screen and (min-width: $screen-md-min) {
            margin-bottom: 0;
          }
        }
        b {
          display: block;
        }
      }
    }
    &__company {
      color: $gray-darken;
    }
    &__date {
      font-size: 13px;
      width: 100%;
      display: flex;
      @media screen and (min-width: $screen-md-min) {
        width: auto;
        display: block;
      }
    }
    &__city {
      font-size: 13px;
      width: 100%;
      text-align: right;
      @media screen and (min-width: $screen-md-min) {
        text-align: left;
      }
    }
    &__info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media screen and (min-width: $screen-md-min) {
        width: auto;
        display: block;
      }
      a {
        display: block;
        font-weight: 700;
        line-height: 200%;
        text-decoration: none;
      }
    }
  }

  &--vertical {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $screen-md-min) {
      margin: 0 -15px;
    }
    > * {
      width: 100%;
      margin: 10px 0;
      display: block;
      @media screen and (min-width: $screen-md-min) {
        width: calc(50% - 30px);
        margin: 15px;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: calc(25% - 30px);
      }
      .userList-el__city {
        text-align: left;
      }
      > * {
        width: 100% !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        @media screen and (min-width: $screen-md-min) {
          &:first-child {
            margin-bottom: 15px !important;
          }
          &:last-child {
            margin-top: 15px !important;
          }
        }
        &:not(:first-child) {
          padding-left: 58px;
        }
      }
    }
  }
}
