.worksheet {
  background: $gray;
  padding: 20px;
  @media screen and (min-width: $screen-md-min) {
    padding: 45px 100px 30px 30px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 45px 35px 30px;
  }
  .testBlock {
    &-body {
      textarea {
        font-size: 13px;
        @include placeholder(#99AABE);
        border-color: $gray-darken;
        border-radius: 11px;
        padding: 9px 13px;
      }
      .form__group {
        margin-bottom: 30px;
      }
      h4 {
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 30px;
      }
      hr {
        border: none;
        border-bottom: 1px solid #CBD5DF;
        margin: 15px 0 35px;
      }
    }
    &-form {

    }
  }
}

.style-chooser {
  .vs__dropdown-toggle {
    color: #002A5C;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 42, 92, 0.23);
    border-radius: 3px;
    height: 45px;
  }

  .vs__dropdown-menu {
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 42, 92, 0.23);
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    li {
      &:before {
        display: none;
      }
    }
    .vs__dropdown-option {
      padding: 7px 20px;
      margin: 0;
    }
  }
  .vs__dropdown-option--highlight {
    color: #002A5C;
    background: #EEF4F7;
  }

  .vs__open-indicator {
    width: 19px;
    height: 10px;
    margin-right: 10px;
    background: url("../images/icons/arr-down.svg") no-repeat center;
  }
}
