.tasks {
  .swiper-button {
    top: 50px;
    position: relative;
    @media screen and (min-width: $screen-md-min) {
      margin-left: 380px;
      margin-bottom: 40px;
      position: static;
    }
  }
}

.relative {
  position: relative;
}


.table {
  &-icons {
    display: flex;
    justify-content: space-between;
    > * + * {
      margin-left: 15px;
    }
  }
  .select {
    display: block;
    height: 24px;
    border: none;
    font-weight: 600;
    font-size: 11px;
    padding: 2px 8px;
    border-radius: 4px;
    background-color: white;
    color: $base-color-main;
  }
}

.estimate {
  font-weight: 600;
  font-size: 11px;
  color: $base-color-main;
}

#table-scroll {
  position: relative;
  .clone {
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
  }
  .fixed-side {
    min-width: 200px;
    position: relative;
    @media screen and (min-width: $screen-md-min) {
      min-width: 370px;
    }
    > span {
      position: absolute;
      left: 10px;
      top: auto;
    }
  }
  .clone th {
    background-color: white;
  }
  .clone th, .clone td {
    visibility:hidden;
  }
  .clone .fixed-side {
    padding: 0;
    padding: 7px 0 7px 30px;
    @media screen and (min-width: $screen-md-min) {
      padding: 7px 15px 7px 30px;
    }
  }
  .clone th.fixed-side {
    padding-left: 0;
    @media screen and (min-width: $screen-md-min) {
      padding-left: 30px;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  .clone .fixed-side,
  .clone tbody th {
    visibility:visible;
  }
  .clone td.fixed-side {
    font-weight: 700;
    font-size: 14px;
    color: $base-color-dark;
  }
}

.table-tasks {
  .linkInline {
    font-weight: 700;
    color: $base-color-main;
    text-decoration: none;
    position: relative;
    top: -60px;
    @media screen and (min-width: $screen-lg-min) {
      position: static;
    }
    i {
      margin-right: 8px;
      font-size: 22px;
      vertical-align: middle;
    }
  }
  td.active {
    min-width: 200px;
    max-width: 230px;
    background-color: #C8E6F3;
  }
  th {
    padding: 7px 15px;
    b {

    }
    p {
      font-weight: 600;
      font-size: 13px;
      margin-top: 15px;
      margin-bottom: 0;
      color: $base-color-main;
    }
  }
  tr {}
  td {
    max-width: 140px;
    vertical-align: middle;
    border-bottom: 5px solid white;
    background: $gray;
    padding: 7px 15px;
  }

}
