//
// Partials -> Header
// ------------------------------------


//
// Header
//
.header {
  display: flex;
  background-color: white;
  width: 100%;
  align-items: center;
  @extend .medium;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  &-menu {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("../images/icons/menu.svg") no-repeat center, $base-color-main;
    &.active {
      background-image: url("../images/icons/close-menu.svg");
    }
  }
  &-search {
    width: 100%;
    max-width: 74px;
    height: 74px;
    overflow: hidden;
    position: relative;
    transition: max-width .5s;
    @media screen and (min-width: $screen-lg-min) {
      max-width: 666px;
    }
    &.active {
      position: static;
      //max-width: 666px;
      .search-mobile {
        display: none;
      }
    }
    .search {
      position: absolute;
      top: 0;
      @media screen and (min-width: $screen-lg-min) {
        position: relative;
      }
      &-mobile {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 74px;
        height: 74px;
        position: relative;
        z-index: 10;
        background: white;
        > img {
          width: 14px;
        }
        @media screen and (min-width: $screen-lg-min) {
          display: none;
        }
      }
    }
    button {
      position: absolute;
      left: 30px;
      top: 0;
      bottom: 0;
      margin: auto;
      border: none;
      background: none;
      color: $base-color-main;
      cursor: pointer;
      padding: 0;
    }
    input {
      color: $black;
      background-color: $gray;
      height: 74px;
      width: 120%;
      border: none;
      padding: 10px 20px 10px 60px;
      @include placeholder($base-color-main);
      @media screen and (min-width: $screen-md-min) {
        width: 100%;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding: 10px 60px;
      }
    }
  }
  &-logout {
    text-align: right;
    margin-left: auto;
    padding-right: 25px;
    @media screen and (min-width: $screen-md-min) {
      padding-right: 50px;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding-right: 100px;
    }
    a {
      text-decoration: none;
      color: $black;
    }
  }
}



.page-item.first {
  a {
    width: 96px;
    height: 16px;
    background: url("../images/icons/pagin-prev-bl.svg") no-repeat center;
  }
}
.page-item.last {
  a {
    width: 96px;
    height: 16px;
    background: url("../images/icons/pagin-next-bl.svg") no-repeat center;
  }
}

//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
