//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

//
// Main container
//
.main {
  //padding-top: 74px;
  overflow: hidden;

  @media screen and (min-width: $screen-lg-min) {
    //padding-left: 250px;
  }
}

#main {
  width: 100%;
  @media screen and (min-width: $screen-lg-min) {
    width: calc(100% - 250px);
  }
}

main {
  transition: transform .5s;
  padding: 0 0 40px 40px;
  @media screen and (min-width: $screen-lg-min) {
    min-height: calc(100vh - 547px);
  }
  @media screen and (min-width: $screen-xl-min) {
    min-height: calc(100vh - 482px);
  }
  &.active {
    @media screen and (min-width: $screen-lg-min) {
      transform: translate3d(300px, 0, 0);
    }
  }
}


//tempaltes
.text-template {
  padding: 20px 0;
}
.dark-template {
  padding: 20px 0;
  background-color: $base-color-darken;
}
//tempaltes
