//
// Partials -> Main
// ------------------------------------

main {
  //padding: 0 0 40px 40px !important;
}
.pageHeader {
  .pagination {
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 30px !important;
    }
  }
}



.pagination__item.disabled {
  opacity: .7;
  cursor: not-allowed;
}

.input-file {
  min-width: 235px;
}

.file-link {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #009CDC !important;
  padding-top: 6px;
  padding-left: 19px;
  line-height: 168.45%;

  img {
    margin-left: 15px;
  }
}


.accordion-header-arr {
  margin-top: 5px;
  @media screen and (min-width: $screen-md-min) {
    margin-top: 0;
  }
}

.fc {
  .fc-timegrid-slot {
    height: 3em;
  }
}

.fc-theme-standard .fc-list-day-cushion .fc-list-day-text {
  @media screen and (max-width: $screen-sm-max) {
    font-size: 12px;
  }
}
.fc-theme-standard .fc-list-event-title div {
  @media screen and (max-width: $screen-sm-max) {
    max-width: 180px;
  }
}
.calendar-arr {
  position: relative;
  width: 100%;
  left: 0;
  top: 30px;
  z-index: 9;
  cursor: pointer;
  font-size: 1.5em;
  color: $base-color-main;
  align-items: center;
  justify-content: space-between;
  display: none;
  @media screen and (min-width: $screen-md-min) {
    display: flex;
  }
  @media screen and (min-width: $screen-xl-min) {
    width: calc(100% - 40px);
    left: 44px;
    top: 83px;
  }
}
.calendar--main .calendar-helper {
  left: 0;
  right: 0;
  @media screen and (min-width: $screen-xl-min) {
    right: 25px;
    left: 83px;
  }
}


.title {
  @media screen and (min-width: $screen-md-min) {
    font-size: 21px;
  }
  @media screen and (min-width: $screen-xl) {
    font-size: 25px;
  }
}

.btn {
  &.disabled,
  &[disabled] {
    cursor: default;
    background-color: $gray-darken !important;
    border-color: $gray-darken !important;
  }
}
