<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>еНано: полезные курсы для hi-tech-специалистов</title>

    <style>
          .mode-mooc .pageHeader, .mode-mooc .pageHeader--sm {
              padding: 9px 0 10px 45px
          }
          .mode-mooc .pageHeader .container,
          .mode-mooc #main {
              width: 100%
          }
          @media screen and (min-width: 992px) {
              .mode-mooc #main {
                  width: calc(100% - 250px)
              }
          }
          .mode-mooc main {
              width: 100%;
          }
          .eduProgress-title,
          .mode-mooc .accordion-body {
              display: block;
          }
          .preloader {
              z-index: 99;
              background: hsla(0, 0%, 100%, .5)
          }
          .preloader, .preloader__preloader {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%
          }
          .preloader__preloader {
              display: flex;
              align-items: center;
              justify-content: center
          }
          .preloader__loader {
              display: block;
              width: 150px;
              height: 150px;
              border-radius: 50%;
              border: 3px solid transparent;
              border-top-color: #009cdc;
              -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite
          }
          .preloader__loader:before {
              top: 5px;
              left: 5px;
              right: 5px;
              bottom: 5px;
              -webkit-animation: spin 3s linear infinite;
              animation: spin 3s linear infinite
          }
          .preloader__loader:after, .preloader__loader:before {
              content: "";
              position: absolute;
              border-radius: 50%;
              border: 3px solid transparent;
              border-top-color: #009cdc
          }
          .preloader__loader:after {
              top: 15px;
              left: 15px;
              right: 15px;
              bottom: 15px;
              -webkit-animation: spin 1.5s linear infinite;
              animation: spin 1.5s linear infinite
          }
          @-webkit-keyframes spin {
              0% {
                  transform: rotate(0deg)
              }
              to {
                  transform: rotate(1turn)
              }
          }

          @keyframes spin {
              0% {
                  transform: rotate(0deg)
              }
              to {
                  transform: rotate(1turn)
              }
          }
      </style>
    <link rel="stylesheet" href="https://nextwt.edunano.ru/enano/design/app.css">
  </head>
  <body class="mode-mooc">
    <div id="cabinet" style="display: flex">
        <div id="sidebar"></div>
        <div id="main"></div>
    </div>
  </body>
</html>
