<template>
  <main class="page-sement">
    <course-header :result="data" />

    <section class="container content" v-if="!isLoading">

      <h2 class="subTitle">Объявления</h2>
      <a class="btn btn--primary" href="#" v-if="data.access_role.code !== 'student'">
        <span>Добавить объявление</span><i class="icon-right"></i>
      </a>
      <div class="advertisement">
        <div class="advertisement-el" v-for="(item, index) in advert" :key="item.id">
          <div class="advertisement-el__date">{{ item.date }}</div>
          <div class="advertisement-el__title">
            <h3>{{ item.name }}</h3>
          </div>
          <div class="advertisement-el__desc" :ref="item.id">
            <div v-html="item.text" />
            <a class="showmore" @click="showIt(item.id, index)">
              <span>Показать</span><img :src="showmore" alt="" />
            </a>
          </div>
        </div>
      </div>

    </section>

    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import CourseHeader from "@/components/CourseHeader";


export default {
  name: 'Advertisement',
  mixins: [api, functions, formatDate, parsers],
  components: {
    CourseHeader,
    AppPreloader: preloader
  },
  data () {
    return {
      data: true,
      isLoading: true,
      isError: false,
      progress: null,
      advertBtn: [],
      advert: null,
      showmore: require('@/assets/images/icons/showmore.svg'),
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    showIt(id, index) {
      this.advertBtn[index] = false;
      console.log(this.advertBtn);
      this.$refs[id][0].classList.add('shown');
    },
    async getData() {
      try {
        const { data } = await this.getEducationProgress(this.$store.state.education_id);
        const advert = await this.getNotifications(this.$store.state.education_id);
        await this.setViewed(this.$store.state.education_id);
        this.advert = advert.data.data;
        this.progress = data.data;

        this.advert.forEach(() => {
          this.advertBtn.push(true);
        })
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
