<template>
  <main class="page-cabinet">
    <section class="pageHeader">
      <div class="container">
        <h1>Корпоративный кабинет</h1>
      </div>
    </section>
    <section class="container content" v-if="!isLoading">
      <div class="tabs">
        <ul class="tabs__caption">
          <li class="active">ППК</li>
          <li>КУРСЫ</li>
          <li>Завершенные</li>
        </ul>
        <div class="tabs__content active">
          <div class="doubleTitle">
            <div class="doubleTitle-ico"><img src="assets/images/icons/lists.svg" alt="" /></div>
            <div class="doubleTitle-name">
              <h2>Технологии и этапы проетирования наноразмерных интегральных схем</h2>
              <p class="text__lg text--primary">Сроки предоствления доступа: 02.07.2019 - 08.09.2019</p>
            </div>
          </div>
          <div class="row between__xs">
            <div class="col col__xl-8 col__xs-12">
              <div class="row">
                <div class="col col__md-7 col__xs-12">
                  <div class="form__group">
                    <div class="control-body success"><input class="control" type="text" name="email" placeholder="E-mail" required="required" />
                      <div class="control-result"></div>
                    </div>
                  </div>
                </div>
                <div class="col col__md-5 col__xs-12"></div>
                <div class="col col__md-7 col__xs-12">
                  <div class="form__group">
                    <div class="control-body"><input class="control" type="text" name="emailUser-1" placeholder="Укажите e-mail пользователя" required="required" />
                      <div class="control-result"></div>
                    </div>
                  </div>
                </div>
                <div class="col col__md-5 col__xs-12">
                  <div class="form__group"><a class="btn btn--primary btn--full" href="#">Предоставить доступ</a></div>
                </div>
                <div class="col col__md-7 col__xs-12">
                  <div class="form__group">
                    <div class="control-body"><input class="control" type="text" name="emailUser-2" placeholder="Укажите e-mail пользователя" required="required" />
                      <div class="control-result"></div>
                    </div>
                  </div>
                </div>
                <div class="col col__md-5 col__xs-12">
                  <div class="form__group"><a class="btn btn--primary btn--full" href="#">Предоставить доступ</a></div>
                </div>
                <div class="col col__md-7 col__xs-12">
                  <div class="form__group">
                    <div class="control-body"><input class="control" type="text" name="emailUser-3" placeholder="Укажите e-mail пользователя" required="required" />
                      <div class="control-result"></div>
                    </div>
                  </div>
                </div>
                <div class="col col__md-5 col__xs-12">
                  <div class="form__group"><a class="btn btn--primary btn--full" href="#">Предоставить доступ</a></div>
                </div>
              </div>
            </div>
            <div class="col col__xl-3 col__xs-12">
              <div class="cabinet-desk"><a href="#"><i class="icon-document"></i><span>Договор оферты</span></a><a href="#"><i class="icon-document"></i><span>Счет</span></a><a href="#"><i class="icon-document"></i><span>Акт</span></a></div>
            </div>
          </div>
        </div>
        <div class="tabs__content">
          <div class="doubleTitle">
            <div class="doubleTitle-ico"><img src="assets/images/icons/lists.svg" alt="" /></div>
            <div class="doubleTitle-name">
              <h2>Технологии и этапы проетирования наноразмерных интегральных схем</h2>
              <p class="text__lg text--primary">Сроки предоствления доступа: 02.07.2019 - 08.09.2019</p>
            </div>
          </div>
          <div class="row between__xs">
            <div class="col col__xl-8 col__xs-12">
              <div class="row">
                <div class="col col__md-7 col__xs-12">
                  <div class="form__group">
                    <div class="control-body error"><input class="control" type="text" name="email" placeholder="E-mail" required="required" />
                      <div class="control-result"></div>
                    </div>
                  </div>
                </div>
                <div class="col col__md-5 col__xs-12"></div>
                <div class="col col__md-7 col__xs-12">
                  <div class="form__group">
                    <div class="control-body"><input class="control" type="text" name="emailUser-1" placeholder="Укажите e-mail пользователя" required="required" />
                      <div class="control-result"></div>
                    </div>
                  </div>
                </div>
                <div class="col col__md-5 col__xs-12">
                  <div class="form__group"><a class="btn btn--primary btn--full" href="#">Предоставить доступ</a></div>
                </div>
                <div class="col col__md-7 col__xs-12">
                  <div class="form__group">
                    <div class="control-body"><input class="control" type="text" name="emailUser-2" placeholder="Укажите e-mail пользователя" required="required" />
                      <div class="control-result"></div>
                    </div>
                  </div>
                </div>
                <div class="col col__md-5 col__xs-12">
                  <div class="form__group"><a class="btn btn--primary btn--full" href="#">Предоставить доступ</a></div>
                </div>
                <div class="col col__md-7 col__xs-12">
                  <div class="form__group">
                    <div class="control-body"><input class="control" type="text" name="emailUser-3" placeholder="Укажите e-mail пользователя" required="required" />
                      <div class="control-result"></div>
                    </div>
                  </div>
                </div>
                <div class="col col__md-5 col__xs-12">
                  <div class="form__group"><a class="btn btn--primary btn--full" href="#">Предоставить доступ</a></div>
                </div>
              </div>
            </div>
            <div class="col col__xl-3 col__xs-12">
              <div class="cabinet-desk"><a href="#"><i class="icon-document"></i><span>Договор оферты</span></a><a href="#"><i class="icon-document"></i><span>Счет</span></a><a href="#"><i class="icon-document"></i><span>Акт</span></a></div>
            </div>
          </div>
        </div>
        <div class="tabs__content">
          <div class="courses">
            <div class="courses-el">
              <div class="courses-el__title">
                <div class="courses-el__ico"><img src="assets/images/icons/award.svg" alt="" /></div>
                <h3>Технологии и этапы проетирования наноразмерных интегральных схем Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
              </div>
              <div class="courses-el__info">
                <div class="estimates">
                  <div class="estimates-head">Получено</div>
                  <div class="estimates-body"><span>10</span>/12 <small>баллов</small></div>
                </div>
                <div class="social">
                  <div class="social-head">ПОДЕЛИТЬСЯ В СОЦИАЛЬНЫХ СЕТЯХ</div>
                  <div class="social-list"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-vk"></i></a><a href="#"><i class="icon-insta"></i></a></div>
                </div>
              </div>
              <div class="courses-el__dates">
                <div class="dates-el">
                  <p>Сроки предоствления доступа</p><b class="text--primary">23 Сентября - 15 Ноября</b>
                </div>
                <div class="dates-el">
                  <p>Завершен</p><b class="text--primary">23 ноября 2020</b>
                </div>
              </div>
            </div>
            <div class="courses-el">
              <div class="courses-el__title">
                <div class="courses-el__ico"><img src="assets/images/icons/award.svg" alt="" /></div>
                <h3>Технологии и этапы проетирования наноразмерных интегральных схем Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
              </div>
              <div class="courses-el__info">
                <div class="estimates">
                  <div class="estimates-head">Получено</div>
                  <div class="estimates-body"><span>10</span>/12 <small>баллов</small></div>
                </div>
                <div class="social">
                  <div class="social-head">ПОДЕЛИТЬСЯ В СОЦИАЛЬНЫХ СЕТЯХ</div>
                  <div class="social-list"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-vk"></i></a><a href="#"><i class="icon-insta"></i></a></div>
                </div>
              </div>
              <div class="courses-el__dates">
                <div class="dates-el">
                  <p>Сроки предоствления доступа</p><b class="text--primary">23 Сентября - 15 Ноября</b>
                </div>
                <div class="dates-el">
                  <p>Завершен</p><b class="text--primary">23 ноября 2020</b>
                </div>
              </div>
            </div>
            <div class="courses-el">
              <div class="courses-el__title">
                <div class="courses-el__ico"><img src="assets/images/icons/award.svg" alt="" /></div>
                <h3>Технологии и этапы проетирования наноразмерных интегральных схем Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
              </div>
              <div class="courses-el__info">
                <div class="estimates">
                  <div class="estimates-head">Получено</div>
                  <div class="estimates-body"><span>10</span>/12 <small>баллов</small></div>
                </div>
                <div class="social">
                  <div class="social-head">ПОДЕЛИТЬСЯ В СОЦИАЛЬНЫХ СЕТЯХ</div>
                  <div class="social-list"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-vk"></i></a><a href="#"><i class="icon-insta"></i></a></div>
                </div>
              </div>
              <div class="courses-el__dates">
                <div class="dates-el">
                  <p>Сроки предоствления доступа</p><b class="text--primary">23 Сентября - 15 Ноября</b>
                </div>
                <div class="dates-el">
                  <p>Завершен</p><b class="text--primary">23 ноября 2020</b>
                </div>
              </div>
            </div>
            <div class="courses-el">
              <div class="courses-el__title">
                <div class="courses-el__ico"><img src="assets/images/icons/award.svg" alt="" /></div>
                <h3>Технологии и этапы проетирования наноразмерных интегральных схем Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
              </div>
              <div class="courses-el__info">
                <div class="estimates">
                  <div class="estimates-head">Получено</div>
                  <div class="estimates-body"><span>10</span>/12 <small>баллов</small></div>
                </div>
                <div class="social">
                  <div class="social-head">ПОДЕЛИТЬСЯ В СОЦИАЛЬНЫХ СЕТЯХ</div>
                  <div class="social-list"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-vk"></i></a><a href="#"><i class="icon-insta"></i></a></div>
                </div>
              </div>
              <div class="courses-el__dates">
                <div class="dates-el">
                  <p>Сроки предоствления доступа</p><b class="text--primary">23 Сентября - 15 Ноября</b>
                </div>
                <div class="dates-el">
                  <p>Завершен</p><b class="text--primary">23 ноября 2020</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import formatDate from '../utils/formatDate';
import functions from '../utils/functions';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";

export default {
  name: 'Cabinet',
  mixins: [api, formatDate, functions, parsers],
  components: {
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      moduleData: {},
      isLoading: false,
      isError: false,
      modulesId: [],
    }
  },
  watch: {
    '$route.query.id': function () {
      // this.getData();
    },
  },
  created() {
    this.getStore();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
  }
}
</script>

<style lang="scss">
</style>
