<template>
  <main class="page-calendar">
    <course-header :result="data"/>
    <section class="container content" v-if="!isLoading">
      <div class="calendar calendar--main">
        <div class="row between__xs calendar-helper">
          <div class="col fc-button-prev fc-buttons">
            <img :src="prev" @click="prevToDate" alt=""/><span class="prev-date"></span>
          </div>
          <div class="col fc-button-next fc-buttons">
            <span class="next-date"></span><img :src="next" @click="nextToDate" alt=""/></div>
        </div>
        <div class="calendar-arr">
          <div class="fc-icon fc-icon-chevron-left" @click="prevTo"></div>
          <div class="fc-icon fc-icon-chevron-right" @click="nextTo"></div>
        </div>
        <FullCalendar
          ref="fullCalendar"
          id="calendar"
          :options="calendarOptions"
          :events="events"
          @datesSet="handleMonthChange"
        />
        <div class="btn--inline" v-if="false">
          <a class="btn btn--outlined" href="#">Добавить в гугл календарь</a>
          <a class="btn btn--outlined" href="#">распечатать расписание</a>
        </div>
      </div>
    </section>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading"/>
    </transition>
  </main>
</template>

<script>
import moment from "moment";
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from "@/utils/parsers";
import preloader from "@/components/preloader";
import CourseHeader from "@/components/CourseHeader";
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid';
import listPlugin from '@fullcalendar/list';
import interactionPlugin from '@fullcalendar/interaction';
import ruLocale from '@fullcalendar/core/locales/ru';

export default {
  name: 'Calendar',
  mixins: [api, functions, formatDate, parsers],
  components: {
    FullCalendar,
    CourseHeader,
    AppPreloader: preloader
  },
  data() {
    return {
      data: null,
      isError: false,
      isLoading: true,
      calendarApi: null,
      prev: require('@/assets/images/icons/calendar-prev.svg'),
      next: require('@/assets/images/icons/calendar-next.svg'),
      checked: require('@/assets/images/calendar/checked.svg'),
      video: require('@/assets/images/calendar/video.svg'),
      doc: require('@/assets/images/calendar/doc.svg'),
      events: null,
      window: {
        width: 0,
        height: 0
      },
      ready: 0,
      getCurrentDate: moment(),
      calendarOptions: {
        plugins: [dayGridPlugin, timeGridPlugin, listPlugin, interactionPlugin],
        initialView: 'timeGridWeek',
        locales: [ruLocale],
        locale: 'ru',
        firstDay: 1,
        timeZone: 'local',
        minHeight: 680,
        headerToolbar: {
          left: '',
          center: 'title',
          right: '',
        },
        slotMinTime: '08:00:00',
        slotMaxTime: '21:00:00',
        slotLabelFormat: {
          hour: '2-digit',
          minute: '2-digit',
          omitZeroMinute: false,
          meridiem: 'short'
        },
        views: {
          dayGridWeek: {
            titleFormat: {year: 'numeric', month: 'long'}
          },
          timeGridWeek: {
            titleFormat: {year: 'numeric', month: 'long'}
          },
          dayGrid: {
            titleFormat: {year: 'numeric', month: 'long'}
          },
          listMonth: {
            titleFormat: {year: 'numeric', month: 'long'}
          },
        },
        allDaySlot: true,
        duration: {days: this.setDays(Math.max(document.documentElement.clientWidth, window.innerWidth || 0))},
        events: [],
        dayHeaderDidMount: function (args) {
          const day = moment(args.date).locale('ru').format('DD');
          const dayName = moment(args.date).locale('ru').format('ddd');
          const fullDayName = moment(args.date).locale('ru').format('dddd');
          const getHeader = args.el.querySelector('.fc-col-header-cell-cushion');
          const getListHeader = args.el.querySelector('.fc-cell-shaded');
          if (getListHeader) {
            getListHeader.innerHTML = `<div class="fc-list-day-text">${day}</div> <div class="fc-list-day-side-text">${fullDayName}</div>`;
          }
          if (getHeader) {
            getHeader.innerHTML = `<div class="days"><p>${day}</p> ${dayName}</div>`;
          }
        },
        eventDidMount: function (info) {
          const getEvent = info.el.querySelector('.fc-event-title');
          const getListEvent = info.el.querySelector('.fc-list-event-title');
          const description = info.event.extendedProps.description;
          const ico = info.event.extendedProps.ico;
          const dates = info.event.extendedProps.dates;
          const title = info.event.extendedProps.titles;
          const setIco = ico ? `<div class="calendar-ico"><img src=${ico} alt="" /></div>` : '';
          const setTitle = title ? `<div class="calendar-title">${title}</div>` : '';
          const setDates = dates ? `<div class="calendar-dates">${dates}</div>` : '';
          const setDescription = description ? `<div class="calendar-description">${description}</div>` : '';
          if (getEvent) {
            getEvent.innerHTML = `<div class="calendar-up">${setIco}${setTitle}</div><div class="calendar-down">${setDates}${setDescription}</div>`;
          }
          if (getListEvent) {
            getListEvent.innerHTML = `<div class="calendar-up">${setIco}${setTitle}</div><div class="calendar-down">${setDates}${setDescription}</div>`;
          }
        },
        datesSet: (e) => this.handleMonthChange(e),
      }
    }
  },
  created() {
    this.getStore();
    this.getData();
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
  methods: {
    async handleMonthChange(info) {
      const getCurrentDate = info.view.getCurrentData().currentDate;
      const getPrevDate = moment(getCurrentDate).subtract(1, 'M').startOf('month').locale('ru').format('MMMM');
      const getNextDate = moment(getCurrentDate).add(1, 'M').startOf('month').locale('ru').format('MMMM');
      document.querySelector('.next-date').textContent = getNextDate;
      document.querySelector('.prev-date').textContent = getPrevDate;
    },
    handleResize() {
      this.window.width = window.innerWidth;
      let calendar = this.$refs.fullCalendar
      if (calendar) {
        const calendarApi = calendar.getApi();
        calendarApi.destroy();
        if (window.innerWidth < 1100) {
          calendarApi.changeView('listMonth');
        } else {
          calendarApi.changeView('timeGridWeek');
        }
        calendarApi.setOption('duration', {days: this.setDays(window.innerWidth)});
        calendarApi.render();
      }
      if (window.innerWidth < 1100) {
        this.calendarOptions.initialView = 'listMonth'
      } else {
        this.calendarOptions.initialView = 'timeGridWeek'
      }
    },
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    nextToDate() {
      const calendarApi = this.$refs.fullCalendar.getApi();
      const getNextDate = this.getCurrentDate.add(1, 'M').startOf('month').locale('ru');
      const getNextDateFormat = getNextDate.format();
      calendarApi.gotoDate(getNextDateFormat);
      this.getCurrentDate = moment(getNextDateFormat);
      const start = moment(calendarApi.currentData.dateProfile.currentRange.start).format('YYYY-MM-DD');
      const end = moment(calendarApi.currentData.dateProfile.currentRange.end).format('YYYY-MM-DD');
      this.getData(start, end);
    },
    prevToDate() {
      const calendarApi = this.$refs.fullCalendar.getApi();
      const getPrevDate = this.getCurrentDate.subtract(1, 'M').startOf('month').locale('ru');
      const getPrevDateFormat = getPrevDate.format();
      calendarApi.gotoDate(getPrevDateFormat);
      this.getCurrentDate = moment(getPrevDateFormat);
      const start = moment(calendarApi.currentData.dateProfile.currentRange.start).format('YYYY-MM-DD');
      const end = moment(calendarApi.currentData.dateProfile.currentRange.end).format('YYYY-MM-DD');
      this.getData(start, end);
    },
    nextTo() {
      const calendarApi = this.$refs.fullCalendar.getApi();
      calendarApi.next();
      const start = moment(calendarApi.currentData.dateProfile.currentRange.start).format('YYYY-MM-DD');
      const end = moment(calendarApi.currentData.dateProfile.currentRange.end).format('YYYY-MM-DD');
      this.getData(start, end);
    },
    prevTo() {
      const calendarApi = this.$refs.fullCalendar.getApi();
      calendarApi.prev();
      const start = moment(calendarApi.currentData.dateProfile.currentRange.start).format('YYYY-MM-DD');
      const end = moment(calendarApi.currentData.dateProfile.currentRange.end).format('YYYY-MM-DD');
      this.getData(start, end);
    },
    async getData(fromDate, toDate) {
      try {
        const today = moment();
        const from_date = fromDate || today.startOf('week').format('YYYY-MM-DD');
        const to_date = toDate || today.endOf('week').format('YYYY-MM-DD');
        const {data} = await this.getCalendarEvents(this.$store.state.education_id, from_date, to_date);
        const res = this.parseDate(data.data);
        this.calendarOptions.events = res;
        const result = await this.getGoogleCalendarEvents(this.$store.state.education_id);
        result.data.data.forEach(item => {
          this.calendarOptions.events.push({
            start: item.start.dateTime,
            end: item.end.dateTime,
            dates: `${this.formatDateStart(item.start.dateTime)} - ${this.formatDateStart(item.end.dateTime)} MSK`,
            titles: item.summary,
            description: item.description,
          })
        })
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
