<template>
  <main class="page-course">
    <section class="pageHeader pageHeader--sm" v-if="!isLoading && moduleData">
      <div class="container">
        <div class="pagination">
          <router-link
            class="pagination__item"
            :to="$getConst('course')+'&id='+modulesId[currentIndex-1]"
            :class="{disabled: !modulesId[currentIndex-1]}"
            :event="modulesId[currentIndex-1] ? 'click' : ''"
          >
            <img :src="prev" alt="" /><span>Предыдущий модуль</span>
          </router-link>
          <router-link
            class="pagination__item"
            :to="$getConst('course')+'&id='+modulesId[currentIndex+1]"
            :disabled="!!modulesId[currentIndex+1]"
            :class="{disabled: !modulesId[currentIndex+1]}"
            :event="modulesId[currentIndex+1] ? 'click' : ''"
          >
            <img :src="next" alt="" /><span>Следующий модуль</span>
          </router-link>
        </div>
        <div class="title">
          <div class="num">{{ currentIndex+1 }}</div>
          <h1>
            <p>Развитие культуры управления рисками на предприятии</p>
            <small>{{ moduleData.name }}</small>
          </h1>
        </div>
      </div>
    </section>
    <section class="container" v-if="!isLoading && moduleData && !isError">
      <div class="video-course" v-if="moduleData.videos && moduleData.videos.length" >
        <swiper
          class="gallery-top"
          :options="swiperOptions"
          ref="mySwiper0"
          @ready="handleSwiperReadied"
        >
          <swiper-slide v-for="(item, index) in moduleData.videos" :key="index">
            <video-js
              :id="moduleData.videos[index].id"
              :options="{
                autoplay: false,
                controls: true,
                sources: [
                  {
                    src: moduleData.videos[index].paths[0],
                    type: 'video/mp4'
                  }
                ]
              }"
              @ref-player="getRefPlayer"
              :ref="'myVideo'+index"
            />
          </swiper-slide>
        </swiper>
        <div class="gallery-thumbs scroll-container">
          <div
            :key="index"
            v-for="(item, index) in moduleData.videos"
            class="thumbs-item"
            :class="{
              'thumbs-item--finished': item.status === 'passed',
              'thumbs-item--ongoing': index == sliderCurrentIndex,
            }"
            @click="e => runSlide(e, index, 'mySwiper0')"
          >
            <div class="thumbs-item__video">
              <img :src="videoImg" alt="" />
            </div>
            <p>{{ item.name }}</p>
          </div>
        </div>
      </div>
      <div class="slider-arrows" v-if="moduleData.videos.length">
        <div
          class="slider-arrow"
          @click="prevSlide"
          :aria-disabled="activeIndex === 0"
        >
          <img :src="calendarPrev" alt="" />
        </div>
        <div
          class="slider-arrow"
          @click="nextSlide"
          :aria-disabled="activeIndex === moduleData.videos.length - 1"
        >
          <img :src="calendarNext" alt="" />
        </div>
      </div>
      <div class="col__xl-10 course-text">
        <h2>{{ get(moduleData, `videos[${sliderCurrentIndex}].name`) }}</h2>
        <h4 v-if="false">CRMP, CT31000, к.э.н., директор по управлению рисками ООО "УК "РОСНАНО". Вице-президент Гильдии инвестиционных и финансовых аналитиков. Руководитель направления АНО ДПО "ИСАР".</h4>
        <p v-html="get(moduleData, `videos[${sliderCurrentIndex}].text`)" />
      </div>
      <div class="row row--sm">
        <div
          :class="setClasses(countColumns)"
        >
          <div
            :key="item.id"
            class="workBadge"
            :class="{
              'workBadge--long': countColumns === 1,
              'workBadge--short': countColumns > 1,
            }"
            v-for="(item, index) in moduleData.tasks"
          >
            <div class="workBadge-left">
              <div class="workBadge-icon"><img :src="task" alt="" /></div>
            </div>
            <div class="workBadge-right">
              <div class="row row--sm middle__sm">
                <div class="col col__xl-4 col__xs-12">
                  <div class="workBadge-title">{{ item.type }}</div>
                  <p>{{ item.name }}</p>
                </div>
                <div class="col col__xl-8 col__xs-12">
                  <div class="workBadge-deadline">Срок сдачи до {{ formatDateNoTime(item.finish_date) }}</div>
                  <router-link
                      class="btn btn--primary"
                      :to="
                        $getConst('practice')+
                        '&id='+$route.query.id+
                        '&item_id='+item.solution_id+
                        '&num='+index
                      "
                  >
                    Выполнить
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          :class="setClasses(countColumns)"
        >
          <div
            :key="item.id"
            class="workBadge"
            :class="{
              'workBadge--long': countColumns === 1,
              'workBadge--short': countColumns > 1,
            }"
            v-for="(item, index) in moduleData.webinars"
          >
            <div class="workBadge-left">
              <div class="workBadge-icon"><img :src="videoIco" alt="" /></div>
            </div>
            <div class="workBadge-right">
              <div class="row row--sm middle__sm">
                <div class="col col__xl-4 col__xs-12">
                  <div class="workBadge-title">{{ item.type }}</div>
                  <p>{{ item.name }}</p>
                </div>
                <div class="col col__xl-8 col__xs-12">
                  <div class="workBadge-deadline">
                    {{ formatDateStart(item.start_date) }}
                    &nbsp;-&nbsp;
                    {{ formatDateEnd(item.finish_date) }}&nbsp;MSK
                  </div>
                  <p class="text--gray" v-if="item.status !== 'passed' && item.status !== 'in_process' && item.status !== 'failed'">
                    В указанное время проведения будет доступна ссылка на вебинар.
                  </p>
                  <div class="btn--inline">
                    <a
                      v-if="item.status === 'passed'"
                      class="btn btn--primary"
                      @click="setStatus(item)"
                      :href="
                        $getConst('video')+
                        '&id='+$route.query.id+
                        '&item_id='+item.id+
                        '&num='+index
                      "
                    >
                      Смотреть запись
                    </a>
                    <a
                      v-if="item.status === 'in_process'"
                      class="btn btn--primary"
                      @click="setStatus(item)"
                      :href="
                        $getConst('video')+
                        '&id='+$route.query.id+
                        '&item_id='+item.id+
                        '&num='+index
                      "
                    >
                      Подключиться
                    </a>
                    <a
                      v-if="item.status === 'failed'"
                      class="btn btn--primary"
                      aria-disabled="true"
                    >
                      Отменен
                    </a>
                    <!-- <a class="btn btn&#45;&#45;outlined" href="#"><i class="icon-down"></i><span>Скачать презентацию</span></a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="titleIcons" v-for="item in moduleData.materials" :key="item.id">
        <div class="titleIcons--left"><img :src="material" alt="" /></div>
        <div class="titleIcons--right">
          <p class="text__lg text--success"><b>{{ item.name }}</b></p>
          <a class="btn btn--outlined" :href="'https://nextwt.edunano.ru'+item.path">
            <i class="icon-down"></i><span>Скачать документ</span>
          </a>
        </div>
      </div>
    </section>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import formatDate from '../utils/formatDate';
import functions from '../utils/functions';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import VideoJs from "@/components/Video";

export default {
  name: 'Course',
  mixins: [api, formatDate, functions, parsers],
  components: {
    VideoJs,
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      moduleData: {},
      isLoading: true,
      isError: false,
      modulesId: [],
      currentIndex: null,
      sliderCurrentIndex: 0,
      activeIndex: 0,
      countColumns: 0,
      refs: [],
      swiperOptions: {
        spaceBetween: 10,
        slidesPerView: 1,
        simulateTouch: false,
        centeredSlides: true,
      },
      prev: require('@/assets/images/icons/pagin-prev.svg'),
      next: require('@/assets/images/icons/pagin-next.svg'),
      calendarPrev: require('@/assets/images/icons/calendar-prev.svg'),
      calendarNext: require('@/assets/images/icons/calendar-next.svg'),
      task: require('@/assets/images/badge/task.svg'),
      videoIco: require('@/assets/images/badge/video.svg'),
      material: require('@/assets/images/badge/material.svg'),
      videoImg: require('@/assets/images/video.svg'),
    }
  },
  watch: {
    '$route.query.id': function () {
      this.getData();
    },
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    handleSwiperReadied() {
      const getNumFromQuery = this.$route.query.num;
      this.$refs.mySwiper0.$swiper.slideTo(getNumFromQuery);
      if (this.refs[getNumFromQuery]) this.refs[getNumFromQuery].play();
      this.activeIndex = getNumFromQuery;
      this.sliderCurrentIndex = getNumFromQuery;
    },
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    getRefPlayer(e) {
      this.refs.push(e);
    },
    nextSlide() {
      this.$refs.mySwiper0.$swiper.slideNext();
      this.activeIndex = this.$refs.mySwiper0.$swiper.activeIndex;
      this.sliderCurrentIndex = this.activeIndex;
    },
    prevSlide() {
      this.$refs.mySwiper0.$swiper.slidePrev();
      this.activeIndex = this.$refs.mySwiper0.$swiper.activeIndex;
      this.sliderCurrentIndex = this.activeIndex;
    },
    runSlide(e, index) {
      const sections = document.querySelectorAll('.thumbs-item');
      for (let i = 0; i < sections.length; i++){
        sections[i].classList.remove('thumbs-item--ongoing');
      }
      const block = e.target.classList[0] === 'thumbs-item' ? e.target : e.target.parentElement;
      block.classList.add('thumbs-item--ongoing');
      this.sliderCurrentIndex = index;
      this.refs[0].pause();
      this.refs[0].currentTime(0);
      this.$refs.mySwiper0.$swiper.slideTo(index);
      this.activeIndex = this.$refs.mySwiper0.$swiper.activeIndex;
    },
    async setStatus(item) {
      try {
        await this.changeActivityPassingStatus(this.$store.state.education_id, item.id, 'passed');
        await this.addActivityJournalRecord(this.$store.state.education_id, 'enter-webinar');
      } catch (error) {
        console.log(error.response);
      }
    },
    async getData() {
      this.isLoading = true;
      this.modulesId = [];
      this.data.modules.forEach(item => {
        this.modulesId.push(item.id);
      })
      this.modulesId.forEach((item, index) => {
        if(item === this.$route.query.id) {
          this.currentIndex = index;
        }
      });
      try {
        const { data } = await this.getEducationModule(this.$store.state.education_id, this.$route.query.id);
        if(data.error && data.error.code === 500) {
          this.$router.push('/');
        }
        this.moduleData = data.data;
        this.countColumns = this.countRow(data.data.tasks.length, data.data.webinars.length, data.data.webinars.tests);
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.moduleData = {};
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
.video-js {
  width: 100%;
  //height: 520px;
  height: 100%;
}
</style>
