<template>
  <main class="page-progress">
    <page-header title="Форум" />
    <section class="container content" v-if="!isLoading">
      <div class="forum-title between__xs middle__xs">
        <a :href="this.$getConst('program')"><i class="icon-chevron-prev"></i><span>Вернуться</span></a>
        <h2 class="subTitle">Форум. Темы форума</h2>
      </div>
      <div class="forum">
        <div
          v-for="item in list"
          :key="item.id"
          class="forum-el"
        >
          <div
            class="forum-icons"
            v-if="data.access_role.code === 'admin' || isUser(item.author.firstname, data.person)"
          >
            <a @click="changePost(item.id)"><i class="icon-edit-2" /></a>
            <a @click="deletePost(item.id)"><i class="icon-cancel" /></a>
          </div>
          <a
            class="forum-el__title"
            :href="'/view_doc.html?mode=mooc&al_id=6933168796138803821&tab=forum-edit&id='+item.id"
          >
            <h4>
              Тема: <br />
              {{item.name}}
            </h4>
          </a>
          <a
            class="forum-el__desc"
            :href="'/view_doc.html?mode=mooc&al_id=6933168796138803821&tab=forum-edit&id='+item.id"
          >
            <div class="forum-el__author">Автор: {{item.author.firstname}}</div>
            <div class="forum-el__date">Последнее обновление: {{formatDateStart(item.update_date)}}</div>
            <div class="forum-el__answer">Ответов: {{item.child_num}}</div>
          </a>
        </div>
      </div>
      <form class="forum-body" method="POST" action="php" ref="form">
        <h4>Создать тему</h4>
        <div class="row forum-form between__xs">
          <div class="form__group col col__xs-12">
            <div class="control-body">
              <label for="theme">Тема:</label>
              <input class="control" type="text" v-model="fields.name" id="theme" name="theme" required="required" />
              <div class="control-result"></div>
            </div>
          </div>
          <div class="form__group col col__xs-12">
            <textarea class="control" v-model="fields.text_area" name="area2" id="area2" placeholder="" rows="10"></textarea>
          </div>
          <div class="col">
            <button class="input-file btn btn--outlined">
              <input class="input__file-js" @change="previewFiles" type="file">
              <span>Загрузить файл</span>
            </button>
            <div v-if="fields.files[0]" class="file-link">
              <span>{{fields.files[0].name}}</span>
              <img :src="close" alt="Удалить" @click="fields.files = []">
            </div>
          </div>
          <div class="col">
            <button
                class="btn btn--primary"
                @click="setData"
                :disabled="!fields.name || !fields.text_area || loading"
            >
              {{formBtn}}
            </button>
          </div>
        </div>
      </form>
    </section>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import PageHeader from "@/components/PageHeader";


export default {
  name: 'Forum',
  mixins: [api, functions, formatDate, parsers],
  components: {
    PageHeader,
    AppPreloader: preloader
  },
  data () {
    return {
      isLoading: true,
      loading: false,
      isError: false,
      list: null,
      data: null,
      parent_id: null,
      formBtn: 'Создать тему',
      close: require('@/assets/images/icons/close.svg'),
      fields: {
        name: null,
        text_area: null,
        excluded_files: null,
        files: []
      }
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    previewFiles(event) {
      this.fields.files = event.target.files;
    },
    async setData() {
      this.loading = true;
      try {
        const { data } = await this.postMessage(
          this.$store.state.education_id,
          this.$store.state.forum_id,
          null,
          this.parent_id,
          this.fields.name,
          this.fields.text_area,
          this.fields.files,
          this.fields.excluded_files,
        );
        if (data.state === 'success') {
          this.list.push(data.data);
          this.formBtn = 'Создать тему';
          this.parent_id = null;
          this.fields = {
            name: null,
            files: [],
            text_area: null,
            excluded_files: null,
          };
        }

      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.loading = false;
      }
    },
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    goto(refName) {
      const element = this.$refs[refName];
      const top = element.offsetTop;

      window.scrollTo(0, top);
    },
    changePost(id) {
      const getPost = this.list.find(item => item.id === id);
      this.fields.name = getPost.name;
      this.fields.text_area = getPost.text_area;
      this.formBtn = 'Сохранить изменения';
      this.parent_id = getPost.id;
      // this.fields.files = getPost.files;

      this.goto('form');
    },
    async deletePost(id) {
      try {
        const { data } = await this.deleteMessage(this.$store.state.education_id, id);
        if (data.state === 'success') {
          window.location.reload();
        }
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      }
    },
    async getData() {
      try {
        const { data } = await this.getTopics(this.$store.state.education_id, this.$store.state.forum_id);
        this.list = data.data;
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
