<template>
  <main class="page-progress">
    <course-header :result="data" />
    <section class="container content" v-if="!isLoading">
      <div class="forum-title between__xs middle__xs">
        <a :href="this.$getConst('forum')">
          <i class="icon-chevron-prev"></i><span>Вернуться</span>
        </a>
        <h2 class="subTitle">Форум. {{item.name}}</h2>
      </div>
      <div class="forum">
        <div class="forum-theme">
          <div class="row between__xs">
            <div class="col col__lg-7 col__md-6 col__xs-12">
              <p v-html="item.text_area" />
            </div>
            <div class="col col__lg-5 col__md-6 col__xs-12">
              <div class="flex">
                <div class="forum-el__author">Автор: {{item.author.firstname}}</div>
                <div class="forum-el__date">Дата: {{formatDateStart(item.modification_date)}}</div>
              </div>
              <div v-for="(file, index) in item.files" :key="index">
                <br />
                <a class="linkInline" target="_blank" :href="'https://nextwt.edunano.ru'+file.link">
                  <i class="icon-document" />
                  <span>{{file.title}}</span>
                </a>
                <br />
              </div>
            </div>
            <div
              class="col col__xs-12 forum-icons"
              v-if="data.access_role.code === 'admin' || isUser(item.author.firstname, data.person)"
            >
              <a @click="changePost(item)"><i class="icon-edit-2" /></a>
              <a @click="deletePost(item.id)"><i class="icon-cancel" /></a>
            </div>
          </div>
        </div>
        <div class="forum-el forum-el--edit" v-for="message in messages" :key="message.id">
          <a href="#" class="forum-accordion-icon"><i class="icon-chevron-down" /></a>
          <div class="forum-el__title">
            <p>
              <b>{{message.name}}</b> <br />
              <span v-html="message.text_area" />
            </p>
          </div>
          <div class="forum-el__desc">
            <div class="forum-el__author">{{message.author.firstname}}</div>
            <div class="forum-el__date">Дата: {{formatDateStart(message.modification_date)}}</div>
            <div class="forum-el__download">
              <a
                v-for="(file, index) in message.files"
                :key="index"
                class="linkInline"
                target="_blank"
                :href="'https://nextwt.edunano.ru'+file.link"
              >
                <i class="icon-document" />
                <span>{{file.title}}</span>
              </a>
              <div class="forum-icons" v-if="data.access_role.code === 'admin' || isUser(message.author.firstname, data.person)">
                <a @click="addComment(message.id)"><i class="icon-corner-up-left" /></a>
                <a @click="changePost(message)"><i class="icon-edit-2" /></a>
                <a @click="deletePost(message.id)"><i class="icon-cancel" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form class="forum-body" method="POST" action="php" ref="form">
        <h4>Ответить на тему</h4>
        <div class="row forum-form between__xs">
          <div class="form__group col col__xs-12">
            <div class="control-body">
              <label for="theme">Тема:</label>
              <input class="control" type="text" v-model="fields.name" id="theme" name="theme" required="required" />
              <div class="control-result"></div>
            </div>
          </div>
          <div class="form__group col col__xs-12">
            <textarea class="control" v-model="fields.text_area" name="area2" id="area2" placeholder="" rows="10"></textarea>
          </div>
          <div class="col">
            <button class="input-file btn btn--outlined">
              <input class="input__file-js" @change="previewFiles" type="file">
              <span>Загрузить файл</span>
            </button>
            <div v-if="fields.files[0]" class="file-link">
              <span>{{fields.files[0].name}}</span>
              <img :src="close" alt="Удалить" @click="fields.files = []">
            </div>
          </div>
          <div class="col">
            <button
                class="btn btn--primary"
                @click="setData"
                :disabled="!fields.name || !fields.text_area || loading"
            >
              {{formBtn}}
            </button>
          </div>
        </div>
      </form>
    </section>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import CourseHeader from "@/components/CourseHeader";


export default {
  name: 'Forum',
  mixins: [api, functions, formatDate, parsers],
  components: {
    CourseHeader,
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      isLoading: true,
      isError: false,
      loading: false,
      item: null,
      id: null,
      messages: null,
      formBtn: 'Ответить',
      fields: {
        name: null,
        text_area: null,
        excluded_files: null,
        files: []
      }
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    goto(refName) {
      const element = this.$refs[refName];
      const top = element.offsetTop;

      window.scrollTo(0, top);
    },
    previewFiles(event) {
      this.fields.files = event.target.files;
    },
    addComment(id) {
      this.id = id;
      this.formBtn = 'Добавить комментарий';

      this.goto('form');
    },
    changePost(item) {
      this.fields.name = item.name;
      this.fields.text_area = item.text_area;
      this.id = item.id;
      this.formBtn = 'Сохранить изменения';
      // this.fields.files = getPost.files;

      this.goto('form');
    },
    async setData() {
      this.loading = true;
      try {
        const { data } = await this.postMessage(
          this.$store.state.education_id,
          this.$store.state.forum_id,
          this.id,
          this.$route.query.id,
          this.fields.name,
          this.fields.text_area,
          this.fields.files,
          this.fields.excluded_files,
        );
        if(data.state === 'success') {
          this.$router.push(this.$getConst('forum'));
        }

      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.loading = false;
      }
    },
    async deletePost(id) {
      try {
        const { data } = await this.deleteMessage(this.$store.state.education_id, id);
        if(data.state === 'success') {
          this.$router.push(this.$getConst('forum'));
        }
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      }
    },
    async getData() {
      try {
        const { data } = await this.getMessages(this.$store.state.education_id, this.$route.query.id);
        if (!data.data.length) {
          this.$router.push(this.$getConst('forum'));
        }
        this.item = data.data.shift();
        this.messages = data.data;
        await this.readTopic(this.$store.state.education_id, this.$route.query.id);
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
