<template>
  <main class="page-progress">
    <course-header :result="data" />
    <section class="container content" v-if="!isLoading">
      <div class="forum-title between__xs middle__xs">
        <h2 class="subTitle">Форум. Последние сообщения</h2>
        <a href="#"><span>Перейти к форуму</span><i class="icon-chevron-next"></i></a>
      </div>
      <div class="forum">
        <a href="#" v-for="i in 5" :key="i" class="forum-el">
          <div class="forum-el__head">
            <h5>Тема: Вопрос по  ДЗ №1</h5>
            <div class="flex">
              <div class="forum-el__author">Автор: Сергеев Петр</div>
              <div class="forum-el__date">Дата: 20.11.2021 22:34:34</div>
            </div>
          </div>
          <div class="forum-el__content">
            <b>Сообщение: </b>  Респонденты также назвали великими поэтам Льва Толстого и Федора Достоевского, несмотря на то, что эти авторы были известны ...
          </div>
          <div class="forum-el__inner">
            <div class="forum-el__inner-item">
              <i class="icon-corner-down-right"></i>
              <b>...</b> (3)
            </div>
            <div class="forum-el__inner-item">
              <i class="icon-corner-down-right"></i>
              <p>В результате, турбулентность на коммерческих рейсах может возникать в два или даже в три раза чаще, чем в настоящее время.</p>
              <div class="flex">
                <div class="forum-el__author">Сергеев Петр</div>
                <div class="forum-el__date">Дата: 20.11.2021 22:34:34</div>
              </div>
            </div>
            <div class="forum-el__inner-item">
              <p>На сайте также есть полезные советы для путешественников, как уменьшить стресс во время турбулентности в полете, и даже список самолетов, в которых путешествие пройдет максимально спокойно и комфортно.</p>
              <div class="flex">
                <div class="forum-el__author">Сергеев Петр</div>
                <div class="forum-el__date">Дата: 20.11.2021 22:34:34</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import CourseHeader from "@/components/CourseHeader";


export default {
  name: 'Forum',
  mixins: [api, functions, formatDate, parsers],
  components: {
    CourseHeader,
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      isLoading: true,
      isError: false,
      progress: null,
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    async getData() {
      try {
        const { data } = await this.getEducationProgress(this.$store.state.education_id);
        this.progress = data.data;
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
