<template>
  <main class="page-helper">
    <page-header title="Помощь" />

    <section class="container content" v-if="!isLoading && !isError">

      <h2 class="subTitle">Инструкции по личному кабинету</h2>
      <div class="helper">
        <div class="helper-btns row row--sm">
          <div class="col col__md-3 col__xs-12 form__group"><a href="#">Аннотация</a></div>
          <div class="col col__md-3 col__xs-12 form__group"><a href="#">Сертификаты</a></div>
          <div class="col col__md-3 col__xs-12 form__group"><a href="#">Я изучаю</a></div>
          <div class="col col__md-3 col__xs-12 form__group"><a href="#">Профиль пользователя</a></div>
          <div class="col col__md-3 col__xs-12 form__group"><a href="#">Календарь</a></div>
          <div class="col col__md-3 col__xs-12 form__group"><a href="#">Анкетирование</a></div>
          <div class="col col__md-3 col__xs-12 form__group"><a href="#">Материалы</a></div>
        </div>
        <h2 class="subTitle">Служба поддержки</h2>
        <div class="messages">
          <div class="messages-container scroll-container">
            <div class="message message--right">
              <div class="message-body">
                <div class="message-name">Лев Воронин</div>
                <div class="message-date">03.07.2019 11:00</div>
                <div class="message-bubble">Вопрос по теме вебинара</div>
              </div>
            </div>
            <div class="message message--left">
              <div class="message-body">
                <div class="message-name">Вы</div>
                <div class="message-date">03.07.2019 11:00</div>
                <div class="message-bubble">Ответ ведущего на заданный вопорс</div>
              </div>
            </div>
          </div>
          <form class="messages-bottom" method="POST" action="php"><input class="control" type="text" placeholder="Ваше сообщение"><button class="btn btn--primary" type="submit"><span>Отправить</span><i class="icon-right"></i></button></form>
        </div>
      </div>
    </section>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>


<script>
import api from '../utils/api';
import functions from '../utils/functions';
import preloader from "@/components/preloader";
import PageHeader from "@/components/PageHeader";


export default {
  name: 'Helper',
  mixins: [api, functions],
  components: {
    PageHeader,
    AppPreloader: preloader
  },
  data () {
    return {
      isLoading: true,
      loading: false,
      isError: false
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    async getData() {
      try {
        this.isLoading = false;
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
