<template>
  <main class="page-main">
    <course-header :result="data" />
    <section class="container content" v-if="!isLoading">
      <ol class="accordion list--numbered">
        <accordion-item
          v-for="(item, index) in modules"
          :item="item"
          groupId="id"
          :key="index"
          :id="index"
        >
          <ol class="eduProgress list--numbered">
            <li
              :key="section.id"
              v-for="section in item.sections"
              :class="
                getUniqueStatus(section.activitys).length === section.activitys.length
                  ? 'eduProgress-el'
                  : 'eduProgress-el'
              "
            >
              <div class="eduProgress-title">
                {{ section.name.replace(/\d+.?\d+.?/g,'') }}
              </div>
              <div class="eduProgress-list">
                <div
                    v-if="getTypeFromArray(section.activitys) === 'materials'"
                >
                  <a
                    :key="activity.id"
                    v-for="activity in section.activitys"
                    :href="activity.material.path"
                    class="eduProgress-list-name"
                    target="_blank"
                  >
                    {{ activity.name }}
                  </a>
                </div>
                <router-link
                  v-else
                  :key="activity.id"
                  v-for="(activity, index) in section.activitys"
                  :class="'eduProgress-list-el ' + getStatus(activity.status)"
                  :to="
                    $getConst(getTypeFromArray(section.activitys))+
                    '&id='+item.id+
                    '&item_id='+getSolutionId(section.activitys, activity.id)+
                    '&num='+index
                  "
                  @click="setStatus(activity)"
                >
                  <div v-if="activity.type !== 'Метериал'" class="eduProgress-list-ico"><i :class="getType(activity.type)"></i></div>
                  <div class="eduProgress-list-name">{{ activity.name }}</div>
                  <div v-if="activity.type === 'Видео'" class="eduProgress-list-time">{{ activity.video.duration }} мин</div>
                  <div v-if="activity.type === 'Тест'" class="eduProgress-list-count">
                    {{ activity.test.score || 0 }}/<b>{{ activity.test.max_score || 0 }}</b>
                  </div>
                  <div v-if="activity.type === 'Вебинар'" class="eduProgress-list-date">
                    {{ formatDateStart(activity.start_date) }}
                    &nbsp;-&nbsp;
                    {{ formatDateEnd(activity.finish_date) }}&nbsp;MSK
                  </div>
                  <div v-if="activity.type !== 'Метериал'" class="eduProgress-list-line"></div>
                  <div v-if="activity.type !== 'Метериал'" class="eduProgress-list-checked"></div>
                </router-link>
              </div>
            </li>
          </ol>
        </accordion-item>
      </ol>
      <div class="eduProgress-certificate eduProgress-certificate--disabled" v-if="certificates.path">
        <div class="row middle__xs between__xs">
          <div class="col col__lg-4 col__md-7 col__xs-12">
            <div class="title"><img src="assets/images/icons/quality-white.svg" alt="" />
              <div>
                <h5>Сертификат</h5>
                <p>Доступен в разделе “<a href="#">Сертификаты</a>”</p>
                <a class="btn btn--default" :href="'https://nextwt.edunano.ru' + certificates.path" target="_blank">Скачать сертификат</a>
              </div>
            </div>
          </div>
          <div class="col col__xl-3 col__lg-4 col__md-5 col__xs-12 eduProgress-certificate-par">
            <p>Для получения сертификата вам нужно сдать тесты по модулям и итоговый тест</p>
          </div>
          <div class="col col__lg-4 col__xs-12 eduProgress-certificate-par">
            <div class="social end__lg">
              <div class="social-head">Поделиться в социальных сетях</div>
              <div class="social-list">
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-vk"></i></a>
                <a href="#"><i class="icon-insta"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="false" class="eduProgress-certificate eduProgress-certificate--disabled">
        <div class="row middle__xs">
          <div class="col col__lg-5 col__xs-12">
            <div class="title"><img :src="sert" alt="" />
              <div>
                <h5>Удостоверение <br> о повышении квалификации</h5>
              </div>
            </div>
          </div>
          <div class="col col__lg-7 col__xs-12">
            <p>Для получения удостоверения вам необходимо выполнить практические задания, сдать тесты по модулям и итоговый тест.</p>
          </div>
        </div>
      </div>
    </section>

    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import formatDate from '../utils/formatDate';
import functions from '../utils/functions';
import parsers from '../utils/parsers';
import CourseHeader from "@/components/CourseHeader";
import AccordionItem from "@/components/AccordionItem";
import preloader from "@/components/preloader";

export default {
  name: 'Home',
  mixins: [api, formatDate, functions, parsers],
  components: {
    CourseHeader,
    AccordionItem,
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      modules: [],
      groupId: null,
      isLoading: true,
      isError: false,
      certificates: {},
      image: require('@/assets/images/icons/list.svg'),
      sert: require('@/assets/images/icons/sert-white.svg'),
    }
  },
  watch: {
    $route(to, from) {
      console.log(to, from);
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  mounted() {
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    async setStatus(item) {
      if(item.type !== 'Метериал') {
        return;
      }
      window.open(item.material.path, '_blank');
      try {
        await this.changeActivityPassingStatus(this.data.id, item.id, 'passed');
      } catch (error) {
        console.log(error.response);
      }
    },
    async getData() {
      try {
        const { data } = await this.getEducationPlan(this.data.id);
        if(data.data.length) {
          data.data.forEach((item) => {
            this.modules.push({...item, active: false});
          })
        }
        const result = await this.getCertificate(this.data.id);
        this.certificates = result.data.data;
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>
