<template>
  <main class="page-materials">

    <course-header :result="data"/>

    <div v-if="!isLoading">

      <section class="container content">
        <div v-for="material in materials" :key="material.id">
          <h2 class="subTitle">{{material.name}}</h2>
          <div class="col__lg-10">
            <ul class="list">
              <li v-for="link in material.materials" :key="link.id">
                <a :href="'https://nextwt.edunano.ru'+link.path">
                  <i class="icon-document"></i>
                  <span>{{link.name}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="background--light content">
        <div class="container">
          <h3>Полезные ссылки</h3>
          <div class="margbot40" v-for="(link,  index) in links" :key="index">
            <h5 class="lineTitle">
              <a :href="link.link" target="_blank" @click="setActivity">{{link.title}}</a>
            </h5>
          </div>
        </div>
      </section>

    </div>

    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading"/>
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from "@/utils/parsers";
import preloader from "@/components/preloader";
import CourseHeader from "@/components/CourseHeader";

export default {
  name: 'Materials',
  mixins: [api, functions, formatDate, parsers],
  components: {
    CourseHeader,
    AppPreloader: preloader
  },
  data() {
    return {
      data: null,
      links: null,
      materials: null,
      isError: false,
      isLoading: true,
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    async setActivity() {
      try {
        await this.addActivityJournalRecord(this.$store.state.education_id, 'visit-useful-link');
      } catch (error) {
        console.log(error.response);
      }
    },
    async getData() {
      try {
        const materials = await this.getEducationMaterials(this.$store.state.education_id);
        const result = await this.getUsefulLinks(this.$store.state.education_id);
        this.materials = materials.data.data;
        this.links = result.data.data;
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
