<template>
  <main class="page-practice">
    <section class="pageHeader pageHeader--sm" v-if="!isLoading && moduleData">
      <div class="container">
        <div class="pagination">
          <router-link
            class="pagination__item"
            :to="$getConst('course')+'&id='+modulesId[currentIndex-1]"
            :disabled="!modulesId[currentIndex-1]"
            :event="modulesId[currentIndex-1] ? 'click' : ''"
          >
            <img :src="prev" alt="" /><span>Предыдущий модуль</span>
          </router-link>
          <router-link
            class="pagination__item"
            :to="$getConst('course')+'&id='+modulesId[currentIndex+1]"
            :disabled="!modulesId[currentIndex+1]"
            :event="modulesId[currentIndex+1] ? 'click' : ''"
          >
            <img :src="next" alt="" /><span>Следующий модуль</span>
          </router-link>
        </div>
        <h1 class="title">
          <div>
            Задание "{{moduleData.name}}"<br>
            <small>Риск-ориентированное управление. Подготовка к сертификации</small>
          </div>
        </h1>
      </div>
    </section>
    <div v-if="!isLoading && moduleData">

      <section class="background--light background--light--head">
        <div class="container">
          <div class="practiceHead">
            <div class="practiceHead-el">
              <div class="practiceHead-name">Срок сдачи:</div>
              <div class="practiceHead-value">{{formatDateStart(moduleData.finish_date)}}</div>
            </div>
            <div class="practiceHead-el">
              <div class="practiceHead-name">Статус:</div>
              <div class="practiceHead-value">
                <div v-if="data.access_role.code === 'student'">
                  {{moduleData.status.name}}
                </div>
                <div v-else>
                  <select class="select" v-model="fields.text">
                    <option value="1">Задано</option>
                    <option value="2">Задано</option>
                    <option value="3">Задано</option>
                    <option value="4">Задано</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="practiceHead-el">
              <div class="practiceHead-name">Оценка:</div>
              <div class="practiceHead-value">
                <div v-if="data.access_role.code === 'student'">
                  {{moduleData.status.score}}
                </div>
                <div v-else>
                  <select
                    class="select"
                    v-model="fields.mark"
                  >
                    <option
                      :key="index"
                      :value="item.value"
                      v-for="(item, index) in moduleData.task.score_type === 'pass/fail' ? markPass : markPure"
                    >
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="practiceHead-el practiceHead-el--img">
              <div class="practiceHead-img">
                <img :src="user" alt="" />
              </div>
              <div class="practiceHead-body">
                <div class="practiceHead-name">Преподаватель:</div>
                <div class="practiceHead-value">{{moduleData.lector.fullname}}</div>
              </div>
            </div>
            <div class="practiceHead-el">
              <a
                  v-for="(file, index) in moduleData.task.files"
                  :key="index"
                  class="practiceHead-value"
                  :href="'https://nextwt.edunano.ru'+file.link"
              >
                <i class="icon-document" />
                <span>{{file.name}}</span>
              </a>
            </div>
            <div v-if="data.access_role.code !== 'student'" class="practiceHead-el">
              <button class="btn btn--primary" :disabled="loading" @click="acceptTask()">Применить</button>
            </div>
          </div>
        </div>
      </section>
      <section class="container content">
        <div class="practiceBody">
          <div class="row">
            <div class="col col__xl-8 col__xs-12">
              <div class="doubleTitle">
                <div class="doubleTitle-ico"><img :src="desc" alt="" /></div>
                <div class="doubleTitle-name">
                  <h4>{{moduleData.name}}</h4>
                  <span>Отличия РМ1 от РМ2</span>
                </div>
              </div>
              <div class="linksInline" v-for="item in moduleData.files" :key="item.id">
                <a class="linkInline" v-if="item" :href="'https://nextwt.edunano.ru'+item.link">
                  <i class="icon-document"></i><span>Скачать документ ({{item.title}})</span>
                </a>
              </div>
              <div class="row row--sm">
                <div class="col col__xl-5 col__md-5 col__xs-12">
                  <div class="practiceTitle">Цель задания:</div>
                  <div class="practiceDesc">{{moduleData.task.goal}}</div>
                </div>
                <div class="col col__xl-5 col__md-5 col__xs-12">
                  <div class="practiceTitle">Необходимый теоретический материал:</div>
                  <div class="practiceDesc">{{moduleData.task.required_background}}</div>
                </div>
                <div class="col col__xl-10 col__lg-10 col__md-10 col__xs-12">
                  <div class="practiceTitle">Описание кейса для задания</div>
                  <div class="practiceDesc">
                    <span v-html="moduleData.task.text" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col col__xl-4 col__xs-12">
              <div class="practiceHelper"><img :src="question" alt="" />
                <div class="practiceHelper-body">
                  <p>Для выполнения задания выполните следующие действия:</p>
                  <ol class="list--number">
                    <li>Скачайте файл задания.</li>
                    <li>Прочитайте задание в первой части документа.</li>
                    <li>Запоните таблице во второй части документа</li>
                    <li>Загрузите заполненный файл для проверки преподавателем</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="background--light" v-if="false">
        <div class="container">
          <div class="practiceFooter">
            <div class="practiceFooter-el">
              <div class="row">
                <div class="col col__lg-6 col__md-10 col__xs-12">
                  <div class="practiceFooter-title">Решение задания (Название файла):</div>
                  <p>Выберите файл с решением. При загрузке он отправится на проверку вашему преподавателю</p><button class="input-file btn btn--primary"><input class="input__file-js" type="file"><i class="icon-upload"></i><span>загрузить файл</span></button><span class="input__text-js"></span>
                </div>
                <div class="col col__lg-6 col__md-10 col__xs-12 practiceFooter-slider">
                  <div class="row between__xs">
                    <div class="col">
                      <div class="practiceFooter-subtitle">История версий решения</div>
                    </div>
                    <div class="col">
                      <div class="swiper-button">
                        <div class="swiper-prev"><img :src="prev" alt="" /></div>
                        <div class="swiper-next"><img :src="next" alt="" /></div>
                      </div>
                    </div>
                  </div>
                  <div class="typicalSlider swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="versions">
                          <div class="versions-el"><i class="icon-document"></i><span><b>Вы:</b> 12.02.2020 11:30</span></div>
                          <div class="versions-el"><i class="icon-document"></i><span><b>Преподаватель:</b> 12.02.2020 11:30</span></div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="versions">
                          <div class="versions-el"><i class="icon-document"></i><span><b>Вы:</b> 12.02.2020 11:30</span></div>
                          <div class="versions-el"><i class="icon-document"></i><span><b>Преподаватель:</b> 12.02.2020 11:30</span></div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="versions">
                          <div class="versions-el"><i class="icon-document"></i><span><b>Вы:</b> 12.02.2020 11:30</span></div>
                          <div class="versions-el"><i class="icon-document"></i><span><b>Преподаватель:</b> 12.02.2020 11:30</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="practiceFooter-el">
              <div class="row">
                <div class="col col__lg-6 col__md-10 col__xs-12">
                  <div class="practiceFooter-title">Решение задания (Название файла):</div>
                  <p>Выберите файл с решением. При загрузке он отправится на проверку вашему преподавателю</p><button class="input-file btn btn--primary"><input class="input__file-js" type="file"><i class="icon-upload"></i><span>загрузить файл</span></button><span class="input__text-js"></span>
                </div>
                <div class="col col__lg-6 col__md-10 col__xs-12 practiceFooter-slider">
                  <div class="row between__xs">
                    <div class="col">
                      <div class="practiceFooter-subtitle">История версий решения</div>
                    </div>
                    <div class="col">
                      <div class="swiper-button">
                        <div class="swiper-prev"><img :src="prev" alt="" /></div>
                        <div class="swiper-next"><img :src="next" alt="" /></div>
                      </div>
                    </div>
                  </div>
                  <div class="typicalSlider swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="versions">
                          <div class="versions-el"><i class="icon-document"></i><span><b>Вы:</b> 12.02.2020 11:30</span></div>
                          <div class="versions-el"><i class="icon-document"></i><span><b>Преподаватель:</b> 12.02.2020 11:30</span></div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="versions">
                          <div class="versions-el"><i class="icon-document"></i><span><b>Вы:</b> 12.02.2020 11:30</span></div>
                          <div class="versions-el"><i class="icon-document"></i><span><b>Преподаватель:</b> 12.02.2020 11:30</span></div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="versions">
                          <div class="versions-el"><i class="icon-document"></i><span><b>Вы:</b> 12.02.2020 11:30</span></div>
                          <div class="versions-el"><i class="icon-document"></i><span><b>Преподаватель:</b> 12.02.2020 11:30</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container content practiceMessages">
        <h3>Обсуждение задания</h3>
        <Chat />
        <!--<div class="messages messages--full">
          <div class="messages-container scroll-container">
            <div
                v-for="comment in moduleData.comments"
                :key="comment.id"
                class="message"
                :class="isUser(comment.fullname, data.person) ? 'message--left' : 'message--right'"
            >
              <div class="message-body">
                <div class="message-name">{{isUser(comment.fullname, data.person) ? 'Вы' : comment.fullname}}</div>
                <div class="message-date">{{formatDateStart(comment.creation_date)}}</div>
                <div class="message-bubble">
                  {{comment.text}}
                  <div class="message-file" v-for="file in comment.files" :key="file.id">
                    <a :href="'https://nextwt.edunano.ru'+file.link">
                      <i class="icon-document"></i><span>{{file.title}}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="messages-bottom"
            :class="(error || fields.files[0]) && 'messages-bottom--text'"
            v-if="moduleData.actions.send.state"
          >
            <input class="control" type="text" v-model="fields.message" placeholder="Ваше сообщение">
            <div class="relative">
              <button class="input-file btn btn--primary">
                <input class="input__file-js" @change="previewFiles" type="file">
                <i class="icon-upload"></i><span>загрузить файл</span>
              </button>
              <div v-if="fields.files[0]" class="file-link input__text-js">
                <span>{{fields.files[0].name}}</span>
                <img :src="close" alt="Удалить" @click="fields.files = []">
              </div>
              <span class="input__text-js error-text" v-if="error">
                <img :src="errorsvg" alt="" /><span>Ошибка загрузки файла</span>
              </span>
            </div>
            <button class="btn btn--primary" :disabled="loading" @click="sendMessage">
              <span>Отправить</span>
              <i class="icon-right"></i>
            </button>
          </div>
          <div class="messages-bottom" v-else>
            <div class="text--danger">
              {{moduleData.actions.send.message}}
            </div>
          </div>
        </div>-->
        <div class="practiceHistory">
          <h3>История загрузки файлов</h3>
          <div class="practiceHistory-list">
            <div class="practiceHistory-item" v-for="(item, index) in history" :key="index">
              <div class="practiceHistory-name">
                <i class="icon-document"></i>
                {{isUser(item.fullname, data.person) ? 'Вы' : `Преподаватель ${item.fullname}`}}
              </div>
              <div class="practiceHistory-date">
                {{formatDateStart(item.creation_date)}}
              </div>
              <div class="practiceHistory-link">
                <div v-for="file in item.files" :key="file.id">
                  <a target="_blank" :href="'https://nextwt.edunano.ru'+file.link">
                    {{file.title}}
                  </a>
                </div>
              </div>
              <div class="practiceHistory-result">
                <img v-if="false" :src="fail" />
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import formatDate from '../utils/formatDate';
import functions from '../utils/functions';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import Chat from "@/components/Chat";

export default {
  name: 'Practice',
  mixins: [api, formatDate, functions, parsers],
  components: {
    Chat,
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      moduleData: {},
      isLoading: true,
      isError: false,
      loading: false,
      error: false,
      history: [],
      modulesId: [],
      errors: [],
      fields: {
        text: null,
        message: null,
        mark: 'none',
        files: [],
      },
      markPure: [
        {
          value: 'none',
          name: 'Не заполнено'
        },
        {
          value: '2',
          name: 2
        },
        {
          value: '3',
          name: 3
        },
        {
          value: '4',
          name: 4
        },
        {
          value: '5',
          name: 5
        }
      ],
      markPass: [
        {
          value: 'none',
          name: 'Не заполнено'
        },
        {
          value: 'pass',
          name: 'Зачет'
        },
        {
          value: 'fail',
          name: 'Незачет'
        },
      ],
      currentIndex: null,
      prev: require('@/assets/images/icons/pagin-prev.svg'),
      next: require('@/assets/images/icons/pagin-next.svg'),
      desc: require('@/assets/images/icons/desk.svg'),
      question: require('@/assets/images/icons/question.svg'),
      errorsvg: require('@/assets/images/icons/error.svg'),
      close: require('@/assets/images/icons/close.svg'),
      pass: require('@/assets/images/icons/practice-pass.svg'),
      fail: require('@/assets/images/icons/practice-fail.svg'),
      user: require('@/assets/images/user.jpg')
    }
  },
  watch: {
    '$route.query.id': function () {
      this.getData();
    },
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    checkForm(e) {
      if (this.fields.message) {
        return true;
      }

      this.errors = [];

      if (!this.fields.message) {
        this.errors.push('Требуется указать имя.');
      }

      e.preventDefault();
    },
    async acceptTask() {
      this.loading = true;
      try {
        const { data } = await this.acceptTaskSolution(
            this.$store.state.education_id,
            this.$route.query.id,
            this.fields.text,
            this.fields.mark,
            this.fields.files,
        );
        console.log(data);
      } catch (error) {
        if (this.get(error, 'response.status') === 401) {
          this.error = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.loading = false;
      }
    },
    previewFiles(event) {
      this.fields.files = event.target.files;
    },
    async sendMessage() {
      const result = this.checkForm();
      if (!result) {
        return;
      }

      this.loading = true;
      try {
        const {data} = await this.commentTaskSolution(
          this.$store.state.education_id,
          this.$route.query.id,
          this.fields.message,
          this.fields.files,
        );
        this.moduleData = data.data;
        this.fields.message = null;
        this.fields.files = [];
      } catch (error) {
        if (this.get(error, 'response.status') === 401) {
          this.error = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.loading = false;
      }
    },
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    async getData() {
      this.isLoading = true;
      this.modulesId = [];
      this.data.modules.forEach(item => {
        this.modulesId.push(item.id);
      })
      this.modulesId.forEach((item, index) => {
        if(item === this.$route.query.id) {
          this.currentIndex = index;
        }
      });
      try {
        const { data } = await this.getTaskSolution(this.$store.state.education_id, this.$route.query.item_id);
        if(data.error && data.error.code === 500) {
          this.$router.push('/');
        }
        this.moduleData = data.data;
        data.data?.comments?.map(item => {
          if (item.files.length) {
            this.history.push({
              files: item.files,
              fullname: item.fullname,
              creation_date: item.creation_date
            });
          }
        })
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.moduleData = {};
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
