<template>
  <main class="page-progress">
    <course-header :result="data" />
    <section class="container content" v-if="!isLoading">
      <h2 class="subTitle">Прогресс</h2>
      <div class="progress">
        <div class="progress-head">
          <div class="progress-head__el">Задание</div>
          <div class="progress-head__el">Результат</div>
          <div class="progress-head__el" v-if="false">Вес</div>
          <div class="progress-head__el">Дата сдачи</div>
        </div>
        <div class="progress-body">
          <div class="progress-body__el" v-for="(item, index) in progress" :key="item.id">
            <div class="progress-status progress-status--finished">
              <div class="progress-counter"><span>{{ index+1 }}</span></div>
            </div>
            <div class="progress-desc progress-status--finished">
              <div class="progress-title">{{ item.name }}</div>
              <div v-for="section in item.sections" :key="section.id">
                <div class="progress-desc__el" v-for="activity in section.activitys" :key="activity.id">
                  <div :class="activity.name.length > 45 ? 'progress-link longest' : 'progress-link'">
                    <i class="icon-test"></i>
                    <span>{{ activity.name }}</span>
                  </div>
                  <div class="progress-line"></div>
                  <div class="progress-estimate">
                    <i :class="'checked ' + getStatusIcon(activity.status)"></i>
                    <span v-if="!activity.test">Зачет</span>
                    <span v-if="activity.test">{{ get(activity, 'test.score') || 0 }}/{{ get(activity, 'test.max_score') }}</span>
                  </div>
                  <div v-if="false" class="progress-count">
                    {{ activity.weight || 0 }}%
                  </div>
                  <div class="progress-date">
                    {{ formatDateNoTime(activity.finish_date) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="progress-body__el">
            <div class="progress-status progress-status--finished">
              <div class="progress-counter"><span>2</span></div>
            </div>
            <div class="progress-desc progress-status--finished">
              <div class="progress-title"><span>Модуль 2.</span> Интеграция управления рисками</div>
              <div class="progress-desc__el">
                <div class="progress-link"><i class="icon-test"></i><span>Тест по модулю 2</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked checked--finished"></i><span>Зачет</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
              <div class="progress-desc__el">
                <div class="progress-link longest"><i class="icon-test"></i><span>Задание "Практическое задание №1. Отличия РМ1 от РМ2."</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked checked--finished"></i><span>Зачет</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
            </div>
          </div>
          <div class="progress-body__el">
            <div class="progress-status">
              <div class="progress-counter"><span>3</span></div>
            </div>
            <div class="progress-desc">
              <div class="progress-title"><span>Модуль 3.</span> Психология риска и культура управления рисками</div>
              <div class="progress-desc__el">
                <div class="progress-link"><i class="icon-test"></i><span>Тест по модулю 3</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked checked--finished"></i><span>Зачет</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
              <div class="progress-desc__el">
                <div class="progress-link longest"><i class="icon-test"></i><span>Задание "Практическое задание №1. Отличия РМ1 от РМ2."</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked checked--awaiting"></i><span>0/60</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
            </div>
          </div>
          <div class="progress-body__el">
            <div class="progress-status progress-status--disabled">
              <div class="progress-counter"><span>4</span></div>
            </div>
            <div class="progress-desc progress-status--disabled">
              <div class="progress-title"><span>Модуль 4.</span> Количественная оценка риска</div>
              <div class="progress-desc__el">
                <div class="progress-link"><i class="icon-test"></i><span>Тест по модулю 4</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked"></i><span>50/60</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
              <div class="progress-desc__el">
                <div class="progress-link longest"><i class="icon-test"></i><span>Задание "Практическое задание №1. Отличия РМ1 от РМ2."</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked"></i><span>50/60</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
            </div>
          </div>
          <div class="progress-body__el">
            <div class="progress-status progress-status--disabled">
              <div class="progress-counter"><span>5</span></div>
            </div>
            <div class="progress-desc progress-status--disabled">
              <div class="progress-title"><span>Модуль 5.</span> Количественная оценка риска</div>
              <div class="progress-desc__el">
                <div class="progress-link"><i class="icon-test"></i><span>Тест по модулю 4</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked"></i><span>50/60</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
              <div class="progress-desc__el">
                <div class="progress-link longest"><i class="icon-test"></i><span>Задание "Практическое задание №1. Отличия РМ1 от РМ2."</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked"></i><span>50/60</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
              <div class="progress-desc__el">
                <div class="progress-link"><i class="icon-test"></i><span>Итоговый тест</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked"></i><span>50/60</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
              <div class="progress-desc__el">
                <div class="progress-link"><i class="icon-test"></i><span>Итоговая работа</span></div>
                <div class="progress-line"></div>
                <div class="progress-estimate"><i class="checked"></i><span>50/60</span></div>
                <div class="progress-count">5%</div>
                <div class="progress-date">12.03.09</div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </section>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import CourseHeader from "@/components/CourseHeader";


export default {
  name: 'Progress',
  mixins: [api, functions, formatDate, parsers],
  components: {
    CourseHeader,
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      isLoading: true,
      isError: false,
      progress: null,
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    async getData() {
      try {
        const { data } = await this.getEducationProgress(this.$store.state.education_id);
        this.progress = data.data;
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
