<template>
  <main class="page-questionnaire">
    <page-header title="Анкетирование" />

    <section class="container content" v-if="!isLoading">
      <div class="row row--sm questionnaire">
        <div class="col col__xl-4 col__md-6 col__xs-12" v-for="item in polls" :key="item.id">
          <div class="questionnaire__item">
            <div class="questionnaire__item-ico"
            >
              <img :src="questionnaire" alt="" />
            </div>
            <div class="questionnaire__item-desc">
              <div class="questionnaire__item-title">Опрос по вебинару <b>{{item.name}}</b></div>
              <p>А.Сидоренко</p>
            </div>
            <div class="questionnaire__item-btn" v-if="!item.is_done">
              <a class="btn btn--primary" :href="$getConst('worksheet')+'&id='+item.id">
                Пройти анкетирование
              </a>
            </div>
            <div v-else class="questionnaire__item-btn eduProgress-list-el--finished">
              <div class="eduProgress-list-checked" />
              <div class="questionnaire__item-text">
                <div>Анкета заполнена {{formatDateStart(item.save_date)}}</div>
                <a :href="$getConst('worksheet')+'&id='+item.poll_id">Посмотреть анкету</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import PageHeader from "@/components/PageHeader";


export default {
  name: 'Questionnaire',
  mixins: [api, functions, formatDate, parsers],
  components: {
    PageHeader,
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      isLoading: true,
      isError: false,
      polls: null,
      questionnaire: require('@/assets/images/icons/questionnaire.svg'),
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    async getData() {
      try {
        const { data } = await this.getPolls(this.$store.state.education_id);
        this.polls = data.data;
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
