<template>
  <main class="page-test">
    <course-header :result="data" />
    <section class="container content" v-if="!isLoading">
      Tests
    </section>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import CourseHeader from "@/components/CourseHeader";


export default {
  name: 'Tests',
  mixins: [api, functions, formatDate, parsers],
  components: {
    CourseHeader,
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      isLoading: true,
      isError: false,
      progress: null,
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    async getData() {
      try {
        const { data } = await this.getEducationProgress(this.$store.state.education_id);
        this.progress = data.data;
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
