<template>
  <main class="page-users">
    <course-header :result="data" />
    <section class="container content" v-if="!isLoading && !isError">
      <h2 class="subTitle">Слушатели</h2>
      <div class="userFilter">
        <div class="userFilter-el">
          <div class="userFilter-el__user">
            <div v-if="fields.photo" class="userFilter-el__user-img"><img :src="'https://nextwt.edunano.ru'+user.photo" alt=""></div>
            <div class="userFilter-el__user-name">
              <p v-if="fields.fio">{{ user.fio}}</p>
              <p v-if="fields.position" class="text--gray">{{ user.position }}</p>
            </div>
          </div>
        </div>
        <div class="userFilter-el">
          <div class="userFilter-el__user-info">
            <p>
              <span v-if="fields.age">{{ user.age }},</span>&nbsp;
              <span v-if="fields.birthday">{{ formatDateNoTime(user.birthday) }}</span>
            </p>
            <a v-if="fields.email" :href="'mailto:'+user.email">{{ user.email }}</a>
            <a v-if="fields.phone" class="text--primary" :href="'tel:'+user.phone">
              <b>{{ user.phone }}</b>
            </a>
          </div>
        </div>
        <div class="userFilter-el">
          <div class="userFilter-el__chk">
            <div class="checkbox">
              <input type="checkbox" v-model="fields.fio" id="chk-name" checked="checked">
              <label for="chk-name">ФИО</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="fields.phone"  id="chk-phone" checked="checked">
              <label for="chk-phone">Телефон</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="fields.birthday" id="chk-date" checked="checked">
              <label for="chk-date">День рождения</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="fields.email" id="chk-email" checked="checked">
              <label for="chk-email">E-mail</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="fields.age" id="chk-age" checked="checked">
              <label for="chk-age">Возраст</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="fields.position" id="chk-position" checked="checked">
              <label for="chk-position">Должность</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="fields.photo" id="chk-photo" checked="checked">
              <label for="chk-photo">Фото</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="fields.city" id="chk-city" checked="checked">
              <label for="chk-city">Город</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" v-model="fields.org" id="chk-work" checked="checked">
              <label for="chk-work">Место работы</label>
            </div>
          </div>
        </div>
        <div class="userFilter-el">
          <div class="userFilter-el__btn">
            <button :class="'btn btn--primary'" @click="setData" :disabled="loading">Применить</button>
            <a class="text--primary" v-if="data.access_role.code === 'admin'" @click.prevent="exportStudents" href="#">Скачать в Excel</a>
          </div>
        </div>
      </div>
      <div class="userList">
        <div class="userList-item" v-for="item of users" :key="item.id">
          <div class="userList-el">
            <div class="userList-el__user">
              <div class="userList-el__user-img">
                <img :src="'https://nextwt.edunano.ru'+item.photo" alt="">
              </div>
              <div class="userList-el__user-name">
                <p>{{ item.fio}}</p>
                <p class="text--gray">{{ item.position }}</p>
              </div>
            </div>
          </div>
          <div class="userList-el" v-if="fields.org">
            <div class="userList-el__company">{{ item.org}}</div>
          </div>
          <div class="userList-el">
            <div class="userList-el__date">
              <div>{{ item.age }}<span v-if="item.age">,</span> &nbsp;</div>
              <div>{{ formatDateNoTime(item.birthday) }}</div>
            </div>
          </div>
          <div class="userList-el" v-if="fields.city">
            <div class="userList-el__city">{{ item.city }}</div>
          </div>
          <div class="userList-el">
            <div class="userList-el__info">
              <a class="text--primary" :href="'tel:'+item.phone">{{ item.phone }}</a>
              <a class="text--primary" :href="'mailto:'+item.email">{{ item.email }}</a>
            </div>
          </div>
        </div>
      </div>
      <!--      <jw-pagination-->
      <!--        :items="users"-->
      <!--        :labels="customLabels"-->
      <!--        @changePage="onChangePage"-->
      <!--        class="pagination pagination&#45;&#45;pager"-->
      <!--      ></jw-pagination>-->
    </section>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>


<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import preloader from "@/components/preloader";
import CourseHeader from "@/components/CourseHeader";


export default {
  name: 'Users',
  mixins: [api, functions, formatDate],
  components: {
    CourseHeader,
    AppPreloader: preloader
  },
  data () {
    return {
      data: true,
      isLoading: true,
      loading: false,
      isError: false,
      loadingExcel: false,
      fields: {
        fio: false,
        photo: false,
        birthday: false,
        age: false,
        email: false,
        phone: false,
        position: false,
        org: false,
        city: false,
      },
      user: {},
      users: [],
      pageOfItems: [],
      customLabels: {
        first: '',
        last: '',
        previous: '',
        next: ''
      }
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    onChangePage(pageOfItems) {
      this.pageOfItems = pageOfItems;
    },
    async exportStudents() {
      this.loadingExcel = true;
      try {
        const { data } = await this.exportLearningStudents(this.$store.state.education_id);
        if (data.data) {
          window.open('https://nextwt.edunano.ru'+data.data.path);
        }
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.loading = false;
      }
    },
    async setData() {
      this.loading = true;
      try {
        const shared_fields = [];
        for (const [key, value] of Object.entries(this.fields)) {
          if (value) {
            shared_fields.push(key);
          }
        }
        await this.setStudentSharedFields(this.$store.state.education_id, shared_fields);
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.loading = false;
      }
    },
    async getData() {
      try {
        const { data } = await this.getLearningStudents(this.$store.state.education_id);
        data.data.forEach(item => {
          if (item.is_current) {
            this.user = item;
          } else {
            this.users.push(item);
          }
        })
        this.user.shared_fields.forEach(item => {
          for (const [key] of Object.entries(this.fields)) {
            if (item === key) {
              this.fields = {
                ...this.fields,
                [key]: true,
              }
            }
          }
        })
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
