<template>
  <main class="page-video">
    <course-header :result="data"/>

    <section class="container content" v-if="!isLoading && !isError">
      <div v-for="item in moduleData.webinars" :key="item.id">
        <div class="webinar margbot40">
          <div v-if="visibility" class="webinar-play webinar-play--js" @click="play">
            <img src="assets/images/icons/play.svg" alt=""/>
          </div>
          <video-js
            class="video"
            ref="player"
            :id="item.id"
            :options="{
              autoplay: false,
              controls: true,
              sources: [
                {
                  src: item.record.paths[0],
                  type: 'video/mp4'
                }
              ]
            }"
          />
        </div>
        <a class="btn btn--outlined form__group" :href="'https://nextwt.edunano.ru'+item.presentation_path" target="_blank">
          <i class="icon-down"></i><span>Скачать презентацию</span>
        </a>
      </div>
    </section>

    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading"/>
    </transition>
  </main>
</template>


<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import preloader from "@/components/preloader";
import CourseHeader from "@/components/CourseHeader";
import VideoJs from "@/components/Video";


export default {
  name: 'Video',
  mixins: [api, functions, formatDate],
  components: {
    VideoJs,
    CourseHeader,
    AppPreloader: preloader
  },
  data() {
    return {
      data: true,
      isLoading: true,
      visibility: true,
      moduleData: true,
      loading: false,
      isError: false,
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    play() {
      this.refs.player.play();
      this.visibility = false;
    },
    async getData() {
      try {
        const { data } = await this.getEducationModule(this.$store.state.education_id, this.$route.query.item_id);
        if(data.error && data.error.code === 500) {
          this.$router.push('/');
        }
        this.moduleData = data.data;
      } catch (error) {
        if (this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
