<template>
  <main class="page-worksheet">
    <section class="pageHeader" v-if="!isLoading">
      <div class="container text--uppercase">
        <div class="row between__xs">
          <div class="col col__lg-10 col__md-9">
            <h1>{{poll.name}}</h1>
          </div>
          <div class="col col__lg-2 col__md-3 hidden__xs hidden__sm text--initial text--right">
            <p>Дата анкеты <br> <b>{{formatDateNoTime(poll.save_date)}}</b></p>
          </div>
        </div>
      </div>
    </section>
    <section class="container content" v-if="!isLoading">
      <div class="worksheet">
        <form class="testBlock-body" method="POST" ref="questions">
          <div v-for="(item, index) in poll.questions" :key="item.id">
            <hr v-if="index !== 0 && item.type !== 'title'" />
            <h4>{{item.title}}</h4>

            <div class="row testBlock-form" v-if="item.type === 'text'">
              <div class="form__group col col__xs-12">
                <textarea
                  v-if="item.type === 'text'"
                  v-model="forms['question'+index].value"
                  class="control"
                  name="area2"
                  placeholder=""
                  :required="item.required"
                  rows="10"
                />
              </div>
            </div>
            <div class="row testBlock-form" v-if="item.type === 'select'">
              <div class="form__group col col__lg-6 col__xs-12" v-for="chk in item.entries" :key="chk.id">
                <div class="checkbox">
                  <input
                    type="checkbox"
                    :id="chk.id"
                    v-model="forms['question'+index].value"
                    :name="item.id"
                    :value="chk.value"
                    :required="item.required"
                  />
                  <label :for="chk.id">{{chk.value}}</label>
                </div>
              </div>
            </div>
            <div class="row testBlock-form" v-if="item.type === 'choice'">
              <div class="form__group col col__lg-6 col__xs-12" v-for="chk in item.entries" :key="chk.id">
                <div class="radio">
                  <input
                    type="radio"
                    :id="chk.id"
                    v-model="forms['question'+index].value"
                    :name="item.type+item.id"
                    :value="chk.value"
                    :required="item.required"
                  />
                  <label :for="chk.id">{{chk.value}}</label>
                </div>
              </div>
            </div>
            <div class="row testBlock-form" v-if="item.type === 'combo'">
              <div class="form__group col col__lg-6 col__xs-12" v-for="chk in item.entries" :key="chk.id">
                <v-select
                  :clearable=false
                  :searchable=false
                  :components="{OpenIndicator}"
                  class="style-chooser"
                  :options="item.entries"
                  label="value"
                  @input="e => forms['question'+index].value = e.value"
                />
              </div>
            </div>
            <div class="row testBlock-form" v-if="item.type === 'date'">
              <div class="form__group col col__lg-6 col__xs-12" v-for="chk in item.entries" :key="chk.id">
                <masked-input
                  class="control"
                  mask="11.11.1111"
                  v-if="forms['question'+index]"
                  v-model="forms['question'+index].value"
                  :value="chk.value"
                  placeholder="__.__.____"
                />
              </div>
            </div>
          </div>

          <a class="btn btn--primary" :disabled="loading" @click="setData">Ответить</a>
        </form>
      </div>
    </section>


    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </main>
</template>

<script>
import api from '../utils/api';
import functions from '../utils/functions';
import formatDate from '../utils/formatDate';
import parsers from '../utils/parsers';
import preloader from "@/components/preloader";
import MaskedInput from 'vue-masked-input';

export default {
  name: 'Worksheet',
  mixins: [api, functions, formatDate, parsers],
  components: {
    MaskedInput,
    AppPreloader: preloader
  },
  data () {
    return {
      data: null,
      loading: false,
      isLoading: true,
      isError: false,
      clearable: {
        type: Boolean,
        default: false
      },
      poll: null,
      OpenIndicator: {
        render: createElement => createElement('span'),
      },
      forms: {},
    }
  },
  created() {
    this.getStore();
    this.getData();
  },
  methods: {
    clone(obj) {
      if (null == obj || "object" != typeof obj) return obj;
      const copy = obj.constructor();
      for (const attr in obj) {
        // eslint-disable-next-line no-prototype-builtins
        if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
      }
      return copy;
    },
    getStore() {
      this.data = this.$store.state.auth.user;
    },
    async setData() {
      this.loading = true;
      try {
        let questions = this.clone(this.forms);
        const questionsArray = [];

        for (const [key] of Object.entries(questions)) {
          if(!this.forms[key].value.length) {
            delete questions[key];
          } else {
            questionsArray.push(this.forms[key]);
          }
        }

        const { data } = await this.savePoll(this.$store.state.education_id, this.poll.id, questionsArray);
        if (data.state === 'success') {
          this.$router.push(this.$getConst('questionnaire'));
        }

      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.loading = false;
      }
    },
    async getData() {
      try {
        const { data } = await this.getPoll(this.$store.state.education_id, this.$route.query.id);
        data.data?.questions?.forEach((item, index) => {
          this.forms = {
            ...this.forms,
            ['question' + index]: {
              id: item.id,
              value: [],
            }
          }
        })
        this.poll = data.data;

        await this.setViewed(this.$store.state.education_id, 'poll', data.data.id);
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss">
</style>
