<template>
  <ol class="accordion list--numbered">
    <accordion-item
      v-for="(item, index) in content"
      :multiple="multiple"
      :item="item"
      :groupId="groupId"
      :key="item.id"
      :id="index"
    >
    </accordion-item>
  </ol>
</template>

<script>
import AccordionItem from "@/components/AccordionItem";
export default {
  name: 'Accordion',
  components: {
    AccordionItem,
  },
  props: {
    content: {
      type: Array,
      required: true
    },
    multiple: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      groupId: null
    }
  },
  mounted() {
    this.groupId = this.$el.id
  },
}
</script>

