<template>
  <li :id="groupId + '-' + item.id" class="accordion-el" :class="{'is-active': item.active}">
    <div class="accordion-header"  @click="toggle">
      <div class="accordion-header-num">{{ id+1 }}</div>
      <div class="accordion-header-title">{{ item.name }}</div>
      <div class="accordion-header-arr"><i class="icon-chevron-down"></i></div>
    </div>
    <transition
      name="accordion-item"
      @enter="startTransition"
      @after-enter="endTransition"
      @before-leave="startTransition"
      @after-leave="endTransition"
    >
      <div v-if="item.active" class="accordion-body">
        <slot>{{item.sections}}</slot>
      </div>
    </transition>
  </li>
</template>

<script>
export default {
  name: 'AccordionItem',
  props: ['item', 'multiple', 'groupId', 'id'],
  methods: {
    toggle(event) {
      if (this.multiple) this.item.active = !this.item.active
      else {
        if (this.$el.id === event.currentTarget.parentElement.id) {
          this.item.active = !this.item.active
        } else {
          this.item.active = false
        }
      }
    },

    startTransition(el) {
      el.style.height = el.scrollHeight+'px';
    },

    endTransition(el) {
      el.style.height = ''
    }
  }
}
</script>

<style lang="scss">

.accordion-body {
  overflow: hidden;
}
.accordion-item-enter-active, .accordion-item-leave-active {
  will-change: height;
  transition: height 0.2s ease;
}
.accordion-item-enter, .accordion-item-leave-to {
  height: 0 !important;
}

</style>

