<template>
  <aside class="aside" v-if="!isLoading && !isError">
    <div class="aside-cabinet">
      <div class="aside-head">
        <div class="aside-user">
          <a :href="this.$getConst('account')">
            <img :src="'https://nextwt.edunano.ru'+data.person.photo" alt=""/>
          </a>
        </div>
        <div class="aside-name">{{ data.person.firstname }} {{ data.person.lastname }}</div>
      </div>
      <div class="aside-nav">
        <ul class="main-nav">
          <li class="main-nav__item" v-for="(item, index) in mainMenu" :key="index">
            <a
              exact
              class="main-nav__link"
              v-if="(item.isStudent && data.access_role.code === 'student') || !item.isStudent"
              :href="item.link"
            >
              {{ item.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'Aside',
  props: {
    data: {
      type: Object,
      default: null,
    },
    isLoading: {
      type: Boolean,
      default: true,
    },
    isError: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      logo: require('@/assets/images/logo.png'),
      facebook: require('@/assets/images/icons/facebook.svg'),
      vk: require('@/assets/images/icons/vk.svg'),
      insta: require('@/assets/images/icons/insta.svg'),
      mainMenu: [
        {
          name: 'Программа',
          link: this.$getConst('program'),
          isStudent: false,
        },
        {
          name: 'Прогресс',
          link: this.$getConst('progress'),
          isStudent: false,
        },
        {
          name: 'Календарь',
          link: this.$getConst('calendar'),
          isStudent: false,
        },
        {
          name: 'Слушатели',
          link: this.$getConst('users'),
          isStudent: false,
        },
        {
          name: 'Объявления',
          link: this.$getConst('advertisement'),
          isStudent: false,
          num: 1,
        },
        {
          name: 'Форум',
          link: this.$getConst('forum'),
          isStudent: false,
          num: 1,
        },
        {
          name: 'Поддержка',
          link: this.$getConst('helper'),
          isStudent: false,
        },
        {
          name: 'Рекомендации',
          link: '#',
          isStudent: false,
        },
        {
          name: 'Анкетирование',
          link: this.$getConst('questionnaire'),
          isStudent: true,
        },
      ],
      asideMenu: [
        {
          title: "О компании",
          href: "#",
          subitems: [
            {
              title: "О компании",
              href: "#"
            }
          ]
        },
        {
          title: "Технопредпринимательство",
          href: "#",
          subitems: [
            {
              title: "Технопредпринимательство",
              href: "#"
            }
          ]
        },
        {
          title: "Нанотехнологии",
          href: "#",
          subitems: [
            {
              title: "Нанотехнологии",
              href: "#"
            }
          ]
        },
        {
          title: "График обучения",
          href: "#",
          subitems: [
            {
              title: "График обучения",
              href: "#"
            }
          ]
        }
      ]
    }
  },
}
</script>

