<template>
  <div class="messages messages--full">
    <div class="messages-container scroll-container" ref="messages">
      <template v-if="chat != null">
        <div
            v-for="message in chat.messages"
            :key="message.id"
            :class="['message', 'message--' + (message.user.my ? 'left' : 'right')]"
        >
          <div class="message-body">
            <div class="message-name">{{ message.user.my ? "Вы" : message.user.fullname }}</div>
            <div class="message-date">{{ formatDate(message.date, true) }}</div>
            <div class="message-bubble">{{ message.text }}</div>
          </div>
        </div>
      </template>
    </div>
    <form class="messages-bottom" method="POST" @submit.prevent="sendMessage">
      <input class="control" v-model="message" type="text" placeholder="Ваше сообщение"/>
      <button class="btn btn--primary" type="submit"><span>Отправить</span><i class="icon-right"></i></button>
    </form>
  </div>
</template>

<script>
import Vue from 'vue';
import formatDate from "@/utils/formatDate";
import functions from '../utils/functions';
import api from "@/utils/api";


export default {
  mixins: [formatDate, api, functions],
  props: {
    type: {
      type: String,
      default: "sysadmin"
    }
  },
  data() {
    return {
      chat: null,
      last_message: 0,
      timer: null,
      message: ""
    }
  },
  computed: {
    timeReload() {
      return (this.chat === null || this.chat.reload_timeout === null || this.chat.reload_timeout === 0 ? 5000 : this.chat.reload_timeout * 1000);
    },
    chatId() {
      return this.chat !== null ? this.chat.id : null;
    }
  },
  created() {
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const { data } = await this.getSupportChat(this.type);
        if (data.state == "success" && data.data !== null) {
          this.chat = data.data;

          await this.processChatFunc();
        }
      } catch (error) {
        if(this.get(error, 'response.status') === 401) {
          this.moduleData = {};
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      }
    },
    async processChatFunc(message) {
      clearInterval(this.timer);
      const { data } = await this.processChat(this.chatId, message, this.last_message);
      if (data.state == "success") {
        this.last_message = data.data.last_message;
        data.data.messages.forEach((elem) => this.chat.messages.push(elem));
        if (data.data.messages.length > 0) {
          Vue.nextTick(() => {
            let container = this.$refs.messages;
            container.scrollTop = container.scrollHeight;
          });
        }

        this.timer = setInterval(this.processChatFunc, this.timeReload);
        if (message !== undefined && message !== null)
          this.message = "";
      }
    },
    async sendMessage() {
      let message = this.message.trim();
      if (message == "") {
        alert("Нельзя отправить пустое сообщение");
        return;
      }

      if (this.chatId == null) {
        try {
          const { data } = await this.createSupportChat();
          if (data.state == "success" && data.data !== null) {
            this.chat = data.data;

            await this.processChatFunc(message);
          }
        } catch (error) {
          if(this.get(error, 'response.status') === 401) {
            this.moduleData = {};
            this.isError = true;
            window.open('https://nextwt.edunano.ru/', '_blank');
          }
        }
      } else
        return this.processChatFunc(message);
    }
  },
}
</script>
