<template>
  <section class="pageHeader">
    <div class="container">
      <div class="pageHeader-inner">
        <div class="pageHeader-inner__left">
          <h1 class="title">
            <img :src="image" alt="" />
            <span>{{ result.course.name }}</span>
          </h1>
        </div>
        <div class="pageHeader-inner__right" v-if="result.access_role.code === 'student'">
          <div class="pageHeader-progress">
            <div class="pageHeader-progress__line">
              <div class="pageHeader-progress__line-title">Пройдено</div>
              <div class="pageHeader-progress__line-desc">{{result.results.percentage}}%</div>
              <div
                  class="pageHeader-progress__line-range"
                  :data-num="result.results.percentage"
              >
                <span :style="{width: result.results.percentage+'%'}"></span>
              </div>
            </div>
            <div class="pageHeader-progress__job">
              <div class="pageHeader-progress__job-title">Заданий</div>
              <div class="pageHeader-progress__job-desc"><b>{{result.results.completed_tasks}}</b>/{{result.results.total_tasks}}</div>
            </div>
          </div>
          <div class="pageHeader-date">Доступ до <b>{{ formatDate(result.access_until) }}</b></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import formatDate from "@/utils/formatDate";

export default {
  name: 'CourseHeader',
  mixins: [formatDate],
  data () {
    return {
      data: null,
      image: require('@/assets/images/icons/list.svg')
    }
  },
  props: {
    result: {
      type: Object,
      default: null,
    }
  },
}
</script>

