<template>
  <footer class="footer">
    <div class="container">
      <div class="row row--sm between__xs">
        <div class="col col__xl-3 col__lg-4 col__md-6 col__xs-12 footer-el">
          <div class="footer-info">
            <div class="footer-info__ico"><img :src="image.envelope" alt="" /></div>
            <div class="footer-info__head">Для писем</div>
            <div class="footer-info__desc">Россия, 117036, г.Москва, <br> пр-т 60-летия Октября, дом 10А</div>
          </div>
        </div>
        <div class="col col__xl-3 col__lg-4 col__md-6 col__xs-12 footer-el">
          <div class="footer-info">
            <div class="footer-info__ico"><img :src="image.phone" alt="" /></div>
            <div class="footer-info__head">Контактный телефон</div>
            <div class="footer-info__desc"><a href="tel:74959885388">+7 (495) 988-53-88 (доб. 1772)</a></div>
          </div>
        </div>
        <div class="col col__xl-3 col__lg-4 col__md-6 col__xs-12 footer-el">
          <div class="footer-info">
            <div class="footer-info__ico"><img :src="image.phone" alt="" /></div>
            <div class="footer-info__head">Поддержка сайта</div>
            <div class="footer-info__desc"><a href="tel:74959885388">+7 (495) 988-53-88 (доб. 1772)</a></div>
          </div>
        </div>
        <div class="col col__xl-3 col__lg-4 col__md-6 col__xs-12 footer-el footer-el--sm">
          <div class="footer-info">
            <div class="footer-info__head">enano@rusnano.com</div>
            <div class="footer-info__desc">
              <ul class="social">
                <li><a href="#"><img :src="image.facebook" alt="" /></a></li>
                <li><a href="#"><img :src="image.vk" alt="" /></a></li>
                <li><a href="#"><img :src="image.insta" alt="" /></a></li>
                <li><a href="#"><img :src="image.youtube" alt="" /></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col col__xl-3 col__lg-4 col__md-6 col__xs-12 footer-el">
          <ul class="footer-nav">
            <li><a href="#">Сведения об образовательной организации</a></li>
            <li><a href="#">Пресс-центр</a></li>
            <li><a href="#">Лицензия</a></li>
          </ul>
        </div>
        <div class="col col__xl-3 col__lg-4 col__md-6 col__xs-12 footer-el">
          <ul class="footer-nav">
            <li><a href="#">Политика в отношении использования Cookie-файлов</a></li>
            <li><a href="#">Политика в отношении обработки персональных данных</a></li>
          </ul>
        </div>
        <div class="col col__xl-6 col__lg-4 col__md-5 col__xs-12 footer-el">
          <ul class="footer-nav">
            <li><a href="#">Публичный договор-оферта о предоставлении услуг</a></li>
            <li><a href="#">Согласие на обработку персональных данных</a></li>
          </ul>
        </div>
        <div class="col col__md-6 col__xs-12 footer-el">
          <div class="footer-copy">© 2013 – 2019 АНО «еНано»</div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      image: {
        facebook: require('@/assets/images/icons/facebook.svg'),
        vk: require('@/assets/images/icons/vk.svg'),
        insta: require('@/assets/images/icons/insta.svg'),
        youtube: require('@/assets/images/icons/youtube.svg'),
        envelope: require('@/assets/images/icons/envelope.svg'),
        phone: require('@/assets/images/icons/phone.svg'),
      }
    }
  },
}
</script>

