<template>
  <section class="pageHeader">
    <div class="container text--uppercase">
      <h1>{{ title }}</h1>
    </div>
  </section>
</template>

<script>
export default {
  name: 'pageHeader',
  props: {
    title: {
      type: String,
      default: '',
    }
  },
}
</script>

