<template>
  <div class="webinar" @click="playIt" :class="className">
    <div class="webinar-play webinar-play--js" v-if="show"><img :src="play" alt=""/></div>
    <video ref="videoPlayer" class="video-js"></video>
  </div>
</template>

<script>
import videojs from 'video.js';
import 'video.js/dist/video-js.css';
import api from "@/utils/api";


export default {
  name: "VideoPlayer",
  mixins: [api],
  props: {
    id: {
      type: String,
      default() {
        return '';
      }
    },
    options: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      show: true,
      playing: true,
      className: '',
      player: null,
      play: require('@/assets/images/icons/play.svg'),
    }
  },
  mounted() {
    let startViewTime;
    let viewTime = 0.0;

    this.setRecordData(this.id, [{name: "open", value: null}]);
    const playing = (player) =>
        this.setRecordData(this.id, [{name: "playing", value: player.currentTime() * 1000}]);
    const pause = (player) =>
        this.setRecordData(this.id, [{name: "pause", value: player.currentTime() * 1000}, {name: "view_time", value: viewTime}]);
    const ended = (player) =>
        this.setRecordData(this.id, [{name: "ended", value: player.currentTime() * 1000}]);
    const record = () => this.setActivityStatus(this.id, "passed");
    const clearViewTime = () => viewTime = 0.0;
    const show = () => this.show = !this.show;


    this.player = videojs(this.$refs.videoPlayer, this.options, function onPlayerReady() {
      let oPlayer = this;
      //видео закончено
      this.on('ended', function () {
        record(); //пометить актвивность пройденной
        ended(oPlayer); //отправить статистику
        clearViewTime(); //очистить накопленное время просмотра
      });
      //видео начинает играть
      this.on('play', function () {
        show();
      });
      this.on('playing', function () {
        startViewTime = (+new Date()); //запомнить время начала воспроизведения
        playing(oPlayer); //отправить статистику
      });
      //видео остановлено
      this.on('pause', function () {
        //вычислить время проигрывания
        // this.show = true;
        let unixDiff = ((+new Date()) - startViewTime);
        if (startViewTime && unixDiff > 0) viewTime += unixDiff;
        pause(oPlayer); //отправить статистику
        clearViewTime(); //очистить накопленное время просмотра
        show();
      });
    })
    this.$emit('ref-player', this.player);
  },
  beforeDestroy() {
    if (this.player) {
      this.player.dispose()
    }
  },
  methods: {
    async setRecordData(activity_id, statements) {
      try {
        await this.recordStatement(this.$store.state.education_id, activity_id, statements);
      } catch (error) {
        if (this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      }
    },
    async setActivityStatus(activity_id, status, parent_activity_id) {
      try {
        await this.changeActivityPassingStatus(this.$store.state.education_id, activity_id, status, parent_activity_id);
      } catch (error) {
        if (this.get(error, 'response.status') === 401) {
          this.isError = true;
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      }
    },
    playIt() {
      this.playing = !this.playing
      if (this.playing) {
        this.player.pause();
      } else {
        this.player.play();
      }
    }
  }
}
</script>

<style lang="scss">
.video-js .vjs-big-play-button {
  display: none;
}
</style>
