<template>
  <div id="main">
    <div class="main" v-if="!isLoading && !isError">
      <Home
          v-if="$route.query.mode === 'mooc' && !$route.query.tab || $route.query.tab === 'program'"
      />
      <Progress v-if="$route.query.mode === 'mooc' && $route.query.tab === 'progress'" />
      <Tests v-if="$route.query.mode === 'mooc' && $route.query.tab === 'tests'" />
      <Users v-if="$route.query.mode === 'mooc' && $route.query.tab === 'users'" />
      <Calendar v-if="$route.query.mode === 'mooc' && $route.query.tab === 'calendar'" />
      <Course v-if="$route.query.mode === 'mooc' && $route.query.tab === 'course'" />
      <Forum v-if="$route.query.mode === 'mooc' && $route.query.tab === 'forum'" />
      <ForumLast v-if="$route.query.mode === 'mooc' && $route.query.tab === 'forum-last'" />
      <ForumEdit v-if="$route.query.mode === 'mooc' && $route.query.tab === 'forum-edit'" />
      <Helper v-if="$route.query.mode === 'mooc' && $route.query.tab === 'helper'" />
      <Advertisement v-if="$route.query.mode === 'mooc' && $route.query.tab === 'advertisement'" />
      <Practice v-if="$route.query.mode === 'mooc' && $route.query.tab === 'practice'" />
      <Materials v-if="$route.query.mode === 'mooc' && $route.query.tab === 'materials'" />
      <Video v-if="$route.query.mode === 'mooc' && $route.query.tab === 'video'" />
      <Questionnaire v-if="$route.query.mode === 'mooc' && $route.query.tab === 'questionnaire'" />
      <Worksheet v-if="$route.query.mode === 'mooc' && $route.query.tab === 'worksheet'" />

      <Cabinet v-if="$route.query.mode === 'example'" />

    </div>
    <div class="error text--center margtop100" v-if="!isLoading && isError">
      <button class="btn btn--danger" v-on:click="reloadPage">Обновить</button>
    </div>
    <transition name="fade-loader">
      <app-preloader v-if="isLoading" />
    </transition>
  </div>
</template>


<script>
import preloader from '@/components/preloader'
import api from "@/utils/api";
import functions from "@/utils/functions";
import Home from "@/views/Home";
import Progress from "@/views/Progress";
import Users from "@/views/Users";
import Calendar from "@/views/Calendar";
import Course from "@/views/Course";
import Cabinet from "@/views/Cabinet";
import Forum from "@/views/Forum";
import ForumLast from "@/views/ForumLast";
import ForumEdit from "@/views/ForumEdit";
import Helper from "@/views/Helper";
import Advertisement from "@/views/Advertisement";
import Practice from "@/views/Practice";
import Materials from "@/views/Materials";
import Video from "@/views/Video";
import Questionnaire from "@/views/Questionnaire";
import Worksheet from "@/views/Worksheet";
import Tests from "@/views/Tests";

export default {
  name: 'App',
  components: {
    Worksheet,
    Questionnaire,
    Video,
    Materials,
    Practice,
    Advertisement,
    Helper,
    Course,
    Forum,
    ForumLast,
    ForumEdit,
    Tests,
    Calendar,
    Users,
    Progress,
    Home,
    Cabinet,
    AppPreloader: preloader
  },
  mixins: [api, functions],
  data() {
    return {
      data: null,
      isLoading: true,
      isError: false,
      search: require('@/assets/images/icons/search.svg'),
    }
  },
  watch: {
    $route(to, from) {
      console.log(to, from);
    }
  },
  created() {
    this.getData();
  },
  updated() {
    this.changeRoute();
  },
  methods: {
    async changeRoute() {
      try {
        await this.saveCurrentPath(this.$store.state.education_id);
      } catch (e) {
        console.log(e);
      }
    },
    reloadPage(){
      window.location.reload()
    },
    openMenu(e) {
      const element = document.querySelector('.aside');
      const container = document.querySelector('main');
      if (e.target.classList.contains('active')) {
        e.target.classList.remove("active");
        element.classList.remove("active");
        container.classList.remove("active");
      } else {
        e.target.classList.add("active");
        element.classList.add("active");
        container.classList.add("active");
      }
    },
    async getData() {
      try {
        const { data } = await this.getEducation(this.$route.query.al_id);
        await this.$store.dispatch('authorizationAction', {options: data.data});
        this.data = this.$store.state.auth.user;
        await this.addActivityJournalRecord(this.$store.state.education_id, 'last-visit');
      } catch (error) {
        console.log(error);
        this.isError = true;
        if(this.get(error, 'response.status') === 401) {
          window.open('https://nextwt.edunano.ru/', '_blank');
        }
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>


<style lang="scss">
#nav {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 999;
}
</style>
