<template>
  <div id="sidebar">
    <app-aside :is-loading="isLoading" :is-error="isError" :data="data" />
  </div>
</template>


<script>
import Aside from '@/components/Aside'
import api from "@/utils/api";
import functions from "@/utils/functions";

export default {
  name: 'App',
  components: {
    AppAside: Aside,
  },
  mixins: [api, functions],
  data() {
    return {
      data: null,
      isLoading: true,
      isError: false,
      search: require('@/assets/images/icons/search.svg'),
    }
  },
  created() {
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const { data } = await this.getEducation(this.$route.query.al_id);
        await this.$store.dispatch('authorizationAction', {options: data.data});
        this.data = this.$store.state.auth.user;
      } catch (error) {
        this.isError = true;
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>


<style lang="scss">
#nav {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 999;
}
</style>
